﻿@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="~/assets/media/img/favicon.ico" />
    @Styles.Render("~/Content/maincss")
    @Scripts.Render("~/script/jquerymain")

</head>
<body id="kt_body" class="header-fixed header-mobile-fixed sidebar-enabled page-loading">
    <div class="loading-loder" id="AjaxLoader" style="display:none;z-index: 9999999999; position: fixed;  width:100%; text-align: center; background: rgb(0 0 0 / 50%); height:100%; left:0px; bottom:0px; top:0px; right:0px;  ">
        <div class="strip-holder" style="    background: #fff; width: 100px; margin: 0px auto;  margin-top: 19%;    border-radius: 6px;">
            <img src="~/assets/media/img/loader.gif" style="width: 100px; position: relative;    z-index: 999999;" />
        </div>
    </div>

    <!--begin::Main-->
    <!--begin::Header Mobile-->
    @Html.Partial("_MobileHeader")
    <!--end::Header Mobile-->

    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Aside-->
            @*@Html.Partial("_AsideMenu")*@
            <!--end::Aside-->
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!--begin::Header-->
                @Html.Partial("_TopMenu")
                <!--end::Header-->
                <!--begin::Content-->
                @RenderBody()
                <!--end::Content-->
                <!--begin::Footer-->
                @Html.Partial("_Footer")
                <!--end::Footer-->

            </div>
            <!--end::Wrapper-->
            <!--begin::Aside Secondary-->
            @Html.Partial("_AsideSecoundry")
            <!--end::Aside Secondary-->

        </div>
        <!--end::Page-->
    </div>
    <!--end::Main-->
    <!--begin::notification popup-->
    @Html.Partial("_NotificationPopUp")
    <!--end::notification popup-->

    <script>var HOST_URL = "https://localhost:44315/";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <!--end::Global Config-->


    @Scripts.Render("~/script/jquerybundle")
    @RenderSection("scripts", required: false)

    <script>
             function LoginCheck() {
        $.ajax({
            url: '@Url.Action("CheckLogin", "LogIn")',
            type: "GET",
            success: function (response) {
                if (!response) {
            if (localStorage != undefined) {
                        localStorage.clear();
                    }
                    window.location.href = '@Url.Action("Index", "LogIn")';
                }
            },
            error: function (er) {
            }
        });
    }
    </script>
</body>
</html>

