﻿@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="~/assets/media/img/favicon.ico" />

    @Styles.Render("~/Content/logincss")
    @Scripts.Render("~/script/jquerymain")
</head>

<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled sidebar-enabled page-loading">

    @RenderBody()


    @Scripts.Render("~/script/loginjs")
    @RenderSection("scripts", required: false)
</body>
</html>
