﻿@using NHSC.Models.Common;
@using NHSC.Common;
@using NHSC.Security;
@{
    CommonFunctions objCommon = new CommonFunctions();
}
@Scripts.Render("~/script/Validation")
<style>
    .font-Poppins {
        font-family: Poppins-Regular !important
    }
</style>
<div id="kt_header" class="header header-fixed">
    <!--begin::Header Wrapper-->
    <div class="header-wrapper rounded-top-xl d-flex flex-grow-1 align-items-center">
        <!--begin::Container-->
        <div class="container-fluid d-flex align-items-center justify-content-end justify-content-lg-between flex-wrap">
            <!--begin::Menu Wrapper-->
            <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
                <!--begin::Menu-->
                <div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
                    <!--begin::Nav-->
                    <ul class="menu-nav">
                        @if (objCommon.LoginUserDetails != null && objCommon.LoginUserDetails.MenuList != null && objCommon.LoginUserDetails.MenuList.Count > 0)
                        {
                            foreach (var menu in objCommon.LoginUserDetails.MenuList.Where(x => x.ParentId == 0 && x.View == true && x.IsShowInMenu == true))
                            {
                                if (objCommon.LoginUserDetails.MenuList.Where(x => x.ParentId == menu.MenuId && x.View == true && x.IsShowInMenu == true).Count() > 0)
                                {
                                    <li class="menu-item menu-item-submenu menu-item-rel clsRemoveActive" data-menu-toggle="hover" aria-haspopup="true" id="Menu_@menu.MenuId">
                                        @if (menu.MenuName == "Dashboard")
                                        {
                                            <a href="@Url.Action(menu.Action, menu.Controller)" class="menu-link" onclick="ShowLoader()">
                                                <span class="menu-text menu-text-active">@menu.MenuName</span>
                                                <i class="menu-arrow"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                                <span class="menu-text menu-text-active">@menu.MenuName</span>
                                                <span class="menu-desc"></span>
                                                <i class="menu-arrow"></i>
                                            </a>
                                        }
                                        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                            <ul class="menu-subnav">
                                                @foreach (var submenu in objCommon.LoginUserDetails.MenuList.Where(x => x.ParentId == menu.MenuId && x.View == true && x.IsShowInMenu == true))
                                                {
                                                    <li class="menu-item clsRemoveSubActive" id="SubMenu_@submenu.MenuId" aria-haspopup="true">
                                                        <a href="@Url.Action(submenu.Action, submenu.Controller)" class="menu-link border-menu" onclick="ShowLoader()">
                                                            <span class="svg-icon menu-icon">
                                                                <i class="fa flaticon2-arrow"></i>
                                                            </span>
                                                            <span class="menu-text menu-subitem-text-active font-Poppins">@submenu.MenuName</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="menu-item menu-item-submenu menu-item-rel clsRemoveActive" data-menu-toggle="hover" aria-haspopup="true" id="Menu_@menu.MenuId">
                                        <a href="@Url.Action(menu.Action, menu.Controller)" class="menu-link" onclick="ShowLoader()">
                                            <span class="menu-text menu-text-active">@menu.MenuName</span>
                                            <i class="menu-arrow"></i>
                                        </a>
                                    </li>
                                }
                            }


                        }
                        else
                        {
                            <li class="menu-item menu-item-submenu menu-item-rel clsRemoveActive" data-menu-toggle="hover" aria-haspopup="true" id="Menu_@Menu.Dashboard">
                                <a href="@Url.Action("Index", "Dashboard")" class="menu-link" onclick="ShowLoader()">
                                    <span class="menu-text menu-text-active">Dashboard</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                                    <ul class="menu-subnav">
                                        <li class="menu-item clsRemoveSubActive" id="SubMenu_@Menu.OnCallMultidisciplinar" aria-haspopup="true">
                                            <a href="@Url.Action("Index", "OnCallMultidisciplinary")" class="menu-link border-menu" onclick="ShowLoader()">
                                                <span class="svg-icon menu-icon">
                                                    <i class="fa flaticon2-arrow"></i>
                                                </span>
                                                <span class="menu-text menu-subitem-text-active font-Poppins">On Call Multidisciplinary</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                    <!--end::Nav-->
                </div>
                <!--end::Menu-->
            </div>
            <!--end::Menu Wrapper-->
            <!--begin::Toolbar-->
            @if (objCommon.LoginUserDetails != null && objCommon.LoginUserDetails.MenuList != null && objCommon.LoginUserDetails.MenuList.Count > 0)
            {
                <div class="d-flex align-items-center py-3 py-lg-2">
                    <!--begin::Dropdown-->
                    <div class="dropdown mr-2" data-toggle="tooltip" title="" data-placement="left">
                        <a href="#" class="btn btn-icon btn-light h-40px w-40px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="svg-icon svg-icon-lg svg-icon-info">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Clipboard-check.svg-->
                                <i class="fa fa-user"></i>
                                <!--end::Svg Icon-->
                            </span>
                        </a>
                        <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-md dropdown-menu-right">
                            <!--begin::Navigation-->
                            <ul class="navi navi-hover py-5">
                                <li class="navi-item">
                                    <a href="@Url.Action("MyProfile","User")" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="flaticon-user"></i>
                                        </span>
                                        <span class="navi-text">Profile</span>
                                    </a>
                                </li>
                                <li class="navi-item">
                                    <a href="@Url.Action("ChangePassword","User")" class="navi-link">
                                        <span class="navi-icon">
                                            <i class="flaticon-security"></i>
                                        </span>
                                        <span class="navi-text">Change Password</span>
                                    </a>
                                </li>
                                <li class="navi-separator my-3"></li>
                                <li class="navi-item">
                                    <a href="@Url.Action("Logout","LogIn")" class="navi-link" onclick="ShowLoader(),ClearState();">
                                        <span class="navi-icon">
                                            <i class="flaticon-logout"></i>
                                        </span>
                                        <span class="navi-text">Log Out</span>
                                    </a>
                                </li>
                            </ul>
                            <!--end::Navigation-->
                        </div>
                    </div>
                    <!--end::Dropdown-->
                </div>
            }
            <!--end::Toolbar-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Header Wrapper-->
</div>
<script>
    function ClearState() {
        if (localStorage != undefined) {
            localStorage.clear();
        }
    }
</script>