﻿@model System.Web.Mvc.HandleErrorInfo
@using NHSC.Resources;
@using NHSC.Models.Common;
@{
    ViewBag.Title1 = "Error";
    Layout = null;
}
<html lang="en">
<head>
    <link href="~/assets/css/pages/error/error-5.css" rel="stylesheet" />
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" />
    <link href="~/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" />
</head>

<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled sidebar-enabled page-loading">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Error-->
        <div class="error error-5 d-flex flex-row-fluid bgi-size-cover bgi-position-center" style="background-image: url(@CommonFunctions.BaseURL/assets/media/error/bg5.jpg);">
            <!--begin::Content-->
            <div class="container d-flex flex-row-fluid flex-column justify-content-md-center p-12">
                <h1 class="error-title font-weight-boldest text-info mt-10 mt-md-0 mb-12">Oops</h1>
                <p class="font-weight-boldest display-4">Something went wrong here.</p>
                <p class="font-size-h3">We're working on it and we'll get it fixedas soon possible.You can back or use our Help Center.<br />  <a style="color: blue; text-decoration: underline !important;" href="@Url.Action("Index","LogIn")">Back To Login</a></p>
            </div>
            <!--end::Content-->
        </div>
        <!--end::Error-->
    </div>
   
</body>
</html>