﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.DepartmentsModel
@{
    ViewBag.Title = "Department";
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-10">
                    <!--begin: Wizard Form-->
                    @using (Ajax.BeginForm("Index", "Department", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                    {
                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                            @Html.HiddenFor(x => x.DepartmentId)
                            <!--end::Input-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Department Name <span class="error_Validation">*</span></label>
                                        @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control clstext reqfield", @placeholder = "Department Name", @maxlength = "255" })
                                        <span class="form-text text-muted error_Validation DepartmentName"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Sites<span class="error_Validation">*</span></label>
                                        @Html.DropDownListFor(x => x.SiteId, ViewBag.SiteList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield" })
                                        <span class="form-text text-muted error_Validation SiteId"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between border-top mt-5 pt-10">
                            <div class="mr-2">
                            </div>
                            <div>
                                @if (Model.DepartmentId > 0)
                                {
                                    <button type="button" id="btnSubmit" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Update</button>
                                }
                                else
                                {
                                    <button type="button" id="btnSubmit" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Save</button>
                                }
                            </div>
                        </div>
                    }
                    <!--end: Wizard Form-->
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>

@Scripts.Render("~/script/wizard3")
<script>

    $(document).ready(function () {
        $("#SiteId").select2({
            selectOnClose: true
        });
        $("#DepartmentName").focus();
    });
</script>
