﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.UserModel
@{
    ViewBag.Title = "Assign Department";
}


<div class="card card-custom">
    <div class="card-body">

        <!--begin: Datatable-->
        <table class="table table-bordered table-hover table-checkable" id="tblListAssign" style="margin-top: 13px !important">
            <thead>
                <tr>
                    <th></th>
                    <th><input type="checkbox" class="clsCheckAllDepartment CheckAll" /></th>
                    <th>Department Name</th>
                    <th style="width:30%">Site Name</th>
                    <th style="width:15%">Created On</th>
                    <th style="width:5%">Actions</th>
                </tr>
            </thead>

        </table>
        <!--end: Datatable-->

    </div>
</div>


<script>
    var table;
    $(document).ready(function () {
      
        arrydepartment = '@ViewBag.DepartmentIds'.split(',');
        $('body').on('click', '.clsCheckDepartment', function (event) {
            LoginCheck();
            var id = $(this).attr("data-id");
            if ($(this).is(":checked")) {
                if (jQuery.inArray(id.toString(), arrydepartment) == -1) {
                    arrydepartment.push(id);
                }
            }
            else {
                arrydepartment = jQuery.grep(arrydepartment, function (value) {
                    return value != id;
                });
            }
            if (arrydepartment != null && arrydepartment.length > 0) {
                $("#AssignDepartmentToJob").removeClass("hidden");
            } else {
                $("#AssignDepartmentToJob").addClass("hidden");
            }
        });
        $('body').on('click', '.CheckAll', function (event) {
            LoginCheck();
            var id = $(this).attr("data-id");
            if ($(this).is(":checked")) {
                $(".clsCheckDepartment ").each(function () {
                    if (!$(this).is(":checked")) {
                        $(this).prop("checked", true);
                        var id = $(this).attr("data-id");
                        arrydepartment.push(id);
                    }
                });
            }
            else {
                $(".clsCheckDepartment ").prop("checked", false);
                arrydepartment = [];
            }
            if (arrydepartment != null && arrydepartment.length > 0) {
                $("#AssignDepartmentToJob").removeClass("hidden");
            } else {
                $("#AssignDepartmentToJob").addClass("hidden");
            }
        });

        $.fn.dataTableExt.sErrMode = 'throw';
        table = $("#tblListAssign").DataTable({
            stateSave: false,
            "scrollY": 350,
            "scrollX": true,
            "processing": false, // for show progress bar
            "searching": true,
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "stateSaveParams": function (settings, data) {
                //data.search.search = "";
                //data.start = 0;
                //data.order[0][0] = 0;
                //data.order[0]._idx = 0;
            },
            "ajax": {
                "url": '@Url.Action("GetDepartmentAssignList", "User")' + "?Id=" + '@Model.UserId' ,
                "type": "POST",
                "datatype": "json"
              },
              language: {
                  "info": "Showing _START_ to _END_ of _TOTAL_ results",
                  "lengthMenu": "_MENU_",
                  "loadingRecords": "Loading...",
                  "processing": "Processing...",
                  "search": "",
                  "searchPlaceholder": "Search records...",
                  "sEmptyTable": "No Data Found.",
                  "zeroRecords": "No Data Found."
              },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
              }],
              "order": [[2, "asc"]],
              "initComplete": function (settings, json) {
                  HideLoader();
                  $('.red-tooltip').tooltip();
              },
              "preDrawCallback": function (settings, json) {
                  if (!isSearch) {
                      ShowLoader();
                  } else {
                      isSearch = false;
                  }
            },
            "lengthMenu": [5,10, 25, 50, 100,500],
              "drawCallback": function (settings) {
                  HideLoader();
                  AddPaginLength("tblListAssign");
                  $('.red-tooltip').tooltip();
              },
              "columns": [
                  { "data": "DepartmentId", "name": "DepartmentId", "autoWidth": true },
                  {
                      "orderable": false, "render": function (data, type, full, meta) {
                          var action = '<label class="kt-checkbox">';
                          if (full.isAssign) {
                              action = '<input type="checkbox" style="margin-left:5px" checked="checked" data-id="' + full.DepartmentId + '" class="clsCheckDepartment clsCheck_' + full.DepartmentId + ' clsCheckBox">'
                          }
                          else {
                              action = '<input type="checkbox" style="margin-left:5px" data-id="' + full.DepartmentId + '" class="clsCheckDepartment clsCheck_' + full.DepartmentId + ' clsCheckBox">'
                          }
                          action += ' <span></span></label>';
                          return action;
                      }
                  },
                  { "data": "DepartmentName", "name": "DepartmentName", "autoWidth": true },
                  { "data": "SiteName", "name": "SiteName", "autoWidth": true },
                  { "data": "Date", "name": "CreatedDate", "autoWidth": true },
                {
                    "orderable": false, "render": function (data, type, full, meta) {
                        var action = '';
                        action += '<div class="dropdown dropdown-inline"> <a href="javascript:void(0);" class="btn btn-sm btn-clean btn-icon" data-toggle="dropdown"> <i class="la la-cog"></i> </a>';
                        action += '<div class="dropdown-menu dropdown-menu-sm dropdown-menu-right"> <ul class="nav nav-hoverable flex-column">'

                        if (!full.IsAdmin)
                        {
                        if ('@CommonFunctions.Edit'=="True") {
                            action += '<li class="nav-item"><a class="nav-link EditRec" href="javascript:void(0);" data-id="' + full.DepartmentId + '"><i class="nav-icon la la-edit"></i><span class="nav-text">Edit</span></a></li>'
                        }
                        if ('@CommonFunctions.Delete' == "True") {
                            action += '<li class="nav-item"><a class="nav-link DeleteRec" href="javascript:void(0);" data-id="' + full.DepartmentId + '"><i class="nav-icon la la-trash"></i><span class="nav-text">Delete</span></a></li>'
                            }
                        }
                        action += '<li class="nav-item"><a class="nav-link ViewRec" href="javascript:void(0);" data-id="' + full.DepartmentId + '"><i class="nav-icon la la-eye"></i><span class="nav-text">View</span></a></li>'
                        action += '</ul></div></div>'
                        return action;
                    }
                }
            ]
        });
        AppendToolTipAfterSearch("tblList_filter");
    });
</script>