﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.UserModel
@{
    ViewBag.Title = "Assign Department";
}


<div class="col-xl-12 col-xxl-10">
    @using (Ajax.BeginForm("", "", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "frmAssignDepartment", @class = "form", @autocomplete = "off" }))
    {
        <div class="row">
            <div class="col-xl-6">
                <!--begin::Input-->
                <div class="form-group">
                    <label>User <span class="error_Validation">*</span></label>
                    @Html.DropDownListFor(x => x.UserId, ViewBag.UserList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield clsUserDep" })
                    <span class="form-text text-muted error_Validation UserId"></span>
                </div>
                <!--end::Input-->
            </div>
            <div class="col-xl-6">
                <!--begin::Input-->
                <div class="form-group">
                    <label>&nbsp;</label>
                    <button type="button" id="btnAssignDepartment" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4" style="margin-top: 17px;">Assign Department</button>
                </div>
                <!--end::Input-->
            </div>
        </div>
    }
</div>

<div id="DivDepartmentList">
</div>


<script>
    $('body').on('change', '.clsUserDep', function (event) {
        try {
            LoadDepartmentData($(this).val());
        } catch (e) {
            console.log(e);
        }
    });

    function LoadDepartmentData(Id) {
             LoginCheck();
             if (Id > 0) {
                 ShowLoader();
                 var dataObject = JSON.stringify({
                     "Id": Id,
                 });
                 var strUrl = '@Url.Action("GetDepartmentAssignById", "User")';
                 $.ajax({
                     url: strUrl,
                     type: 'POST',
                     data: dataObject,
                     async: true,
                     contentType: 'application/json',
                     success: function (result) {
                         $("#DivDepartmentList").html(result);
                     },
                     complete: function () {
                         HideLoader();
                     },
                     error: function (err) {
                         console.log(err);

                     }
                 });
             } else {
                 $("#DivDepartmentList").html("");
             }
        return false;
    }

</script>