﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.UserModel
@{
    ViewBag.Title = "Users";
}


<div class="card card-custom">
    <div class="card-body">
        <!--begin: Datatable-->
        <table class="table table-bordered table-hover table-checkable" id="tblList" style="margin-top: 13px !important">
            <thead>
                <tr>
                    <th></th>
                    <th style="width:20%">Full Name</th>
                    <th style="width:15%">User Name</th>
                    <th style="width:15%">Email</th>
                    <th style="width:20%">Group</th>
                    <th style="width:10%">Status</th>
                    <th style="width:15%">Created On</th>
                    <th style="width:5%">Actions</th>
                </tr>
            </thead>

        </table>
        <!--end: Datatable-->
    </div>
</div>

<script>
    var isSearch = false;
    $(document).ready(function () {
        $.fn.dataTableExt.sErrMode = 'throw';
        $("#tblList").DataTable({
            stateSave: true,
            "scrollY": 350,
            "scrollX": true,
            "processing": false, // for show progress bar
            "searching": true,
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "stateSaveParams": function (settings, data) {
                //data.search.search = "";
                //data.start = 0;
                //data.order[0][0] = 0;
                //data.order[0]._idx = 0;
            },
            "ajax": {
                "url": '@Url.Action("GetListJson","User")',
                "type": "POST",
                "datatype": "json"
              },
              language: {
                  "info": "Showing _START_ to _END_ of _TOTAL_ results",
                  "lengthMenu": "_MENU_",
                  "loadingRecords": "Loading...",
                  "processing": "Processing...",
                  "search": "",
                  "searchPlaceholder": "Search records...",
                  "sEmptyTable": "No Data Found.",
                  "zeroRecords": "No Data Found."
              },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
              }],
              "order": [[1, "asc"]],
              "initComplete": function (settings, json) {
                  HideLoader();
                  $('.red-tooltip').tooltip();
              },
            "preDrawCallback": function (settings, json) {
                if (!isSearch) {
                    ShowLoader();
                } else {
                    isSearch = false;
                }
            },
            "lengthMenu": [5,10, 25, 50, 100,500],
              "drawCallback": function (settings) {
                  HideLoader();
                  AddPaginLength("tblList");
                  $('.red-tooltip').tooltip();
              },
              "columns": [
                  { "data": "UserId", "name": "UserId", "autoWidth": true },
                  {
                      "data": "FName", "name": "FName", "autoWidth": true, "render": function (data, type, full, meta) {
                          var posit = full.FName;
                          if (posit.length > 20) {
                              posit = posit.substring(0, 20) + "...";
                          }
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.FName + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;margin-top:5px">' + posit + '</div></a>';

                          return action;
                      }
                  },
                  {
                      "data": "UserName", "name": "UserName", "autoWidth": true, "render": function (data, type, full, meta) {
                          var posit = full.UserName;
                          if (posit.length > 20) {
                              posit = posit.substring(0, 20) + "...";
                          }
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.UserName + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;margin-top:5px">' + posit + '</div></a>';

                          return action;
                      }
                  },
                  { "data": "Email", "name": "Email", "autoWidth": true},
                  { "data": "UserGroupName", "name": "UserGroupName", "autoWidth": true },
                  {
                      "data": "UserStatus", "name": "UserStatus", "autoWidth": true, "render": function (data, type, full, meta) {
                          var action = '';
                          if (full.UserStatus == true)
                          {
                              action = '<span class="label label-lg font-weight-bold label-light-success label-inline">' + '@DisplayText.Get(typeof(RecordStatus), RecordStatus.Active.ToString())'+'</span>'
                          } else
                          {
                              action = '<span class="label label-lg font-weight-bold label-light-danger label-inline">' + '@DisplayText.Get(typeof(RecordStatus), RecordStatus.DeActive.ToString())'+'</span>'
                          }
                          return action;
                      }
                  },
                  { "data": "Date", "name": "CreatedDate", "autoWidth": true },
                {
                    "orderable": false, "render": function (data, type, full, meta) {
                        var action = '';
                        action += '<div class="dropdown dropdown-inline"> <a href="javascript:void(0);" class="btn btn-sm btn-clean btn-icon" data-toggle="dropdown"> <i class="la la-cog"></i> </a>';
                        action += '<div class="dropdown-menu dropdown-menu-sm dropdown-menu-right"> <ul class="nav nav-hoverable flex-column">'

                        if (!full.IsAdmin)
                        {
                        if ('@CommonFunctions.Edit'=="True") {
                            action += '<li class="nav-item"><a class="nav-link EditRec" href="javascript:void(0);" data-id="' + full.UserId + '"><i class="nav-icon la la-edit"></i><span class="nav-text">Edit</span></a></li>'
                        }
                        if ('@CommonFunctions.Delete' == "True") {
                            action += '<li class="nav-item"><a class="nav-link DeleteRec" href="javascript:void(0);" data-id="' + full.UserId + '"><i class="nav-icon la la-trash"></i><span class="nav-text">Delete</span></a></li>'
                            }
                        }
                        action += '<li class="nav-item"><a class="nav-link ViewRec" href="javascript:void(0);" data-id="' + full.UserId + '"><i class="nav-icon la la-eye"></i><span class="nav-text">View</span></a></li>'
                        action += '</ul></div></div>'
                        return action;
                    }
                }
            ]
        });
        AppendToolTipAfterSearch("tblList_filter");

    });


</script>