﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@model NHSC.Models.Entities.UserModel
@{
    ViewBag.Title = Resource.usergrouptitle;
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-10">
                    <!--begin: Wizard Form-->
                    @using (Ajax.BeginForm("Index", "User", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", OnFailure = "OnFailure", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                    {
                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                            @Html.HiddenFor(x => x.UserId)
                            <!--end::Input-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>First Name <span class="error_Validation">*</span></label>
                                        @Html.TextBoxFor(x => x.FName, new { @class = "form-control clstext reqfield", @placeholder = "First Name", @maxlength = "255", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation FName"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        @Html.TextBoxFor(x => x.LName, new { @class = "form-control clstext", @placeholder = "Last Name", @maxlength = "255", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation LName"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>User Name <span class="error_Validation">*</span></label>
                                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control clstext reqfield", @placeholder = "User Name", @maxlength = "255", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation UserName"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Email<span class="error_Validation">*</span></label>
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control clstext reqfield regemail", @placeholder = "Email", @maxlength = "255", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation Email"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Password <span class="error_Validation">*</span> <span class="kt-input-icon__icon kt-input-icon__icon--right toggle-password"><span><i class="la la-eye"></i></span></span></label>
                                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control clstext reqfield validpassword", @type = "password", @placeholder = "Password", @maxlength = "20", @autocomplete = "off", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation Password"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>User Group <span class="error_Validation">*</span></label>
                                        @Html.DropDownListFor(x => x.UserGroupId, ViewBag.GroupList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation UserGroupId"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Status</label>
                                        <div class="form-control float-left p-2">
                                            <label class="kt-radio">
                                                @Html.RadioButton("Status", (int)RecordStatus.Active, Model.Status)
                                                @DisplayText.Get(typeof(RecordStatus), RecordStatus.Active.ToString()).ToString()
                                                <span></span>
                                            </label>
                                            <label class="kt-radio left-margin-15">
                                                @Html.RadioButton("Status", (int)RecordStatus.DeActive, Model.Status)
                                                @DisplayText.Get(typeof(RecordStatus), RecordStatus.DeActive.ToString()).ToString()
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Alerts Receiver</label>
                                        <div class="form-control float-left p-2">
                                            <label class="kt-radio">
                                                @Html.RadioButton("AlertsReceiver", (int)YesNo.Yes, Model.AlertsReceiver)
                                                @DisplayText.Get(typeof(YesNo), YesNo.Yes.ToString()).ToString()
                                                <span></span>
                                            </label>
                                            <label class="kt-radio left-margin-15">
                                                @Html.RadioButton("AlertsReceiver", (int)YesNo.No, Model.AlertsReceiver)
                                                @DisplayText.Get(typeof(YesNo), YesNo.No.ToString()).ToString()
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                        </div>
                    }
                    <!--end: Wizard Form-->
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>
@Scripts.Render("~/script/wizard3")
<script>

    $(document).ready(function () {
        $("#UserGroupId").select2();
        $("input:radio").attr("disabled", true);
    });
</script>
