﻿@using System.Web.Optimization;
@model NHSC.Models.Entities.ChangePassword
@using NHSC.Resources;
@using NHSC.Common;
@Scripts.Render("~/script/Validation")
<script>
     $(document).ready(function () {
          SetActiveMenu('@Convert.ToInt16(Menu.Users)');
    });
    function onSuccess(data) {
        try {
            LoginCheck();
            if (data.statusCode == 1) {
                $(".clspass").val("");
                ShowMessageBox(data.statusCode, data.msg);
            } else {
                ShowMessageBox(data.statusCode, data.msg);
            }
        } catch (e) {
            console.error(e);
        }
    }

    function OnFailure(data) {
        try {
            console.log(data);
            ShowMessageBox(data.statusCode, data.msg);
        } catch (e) {
            console.error(e);
        }
    }
    function Validation() {
        try {
            LoginCheck();
            if (!BindSpclValidationEventClick('#kt_form')) {
                return false;
            }
        } catch (e) {
            console.error(e);
        }
    }
</script>
@Styles.Render("~/Content/wizard3")
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5" id="headerTitle">Change Password</h5>
                    <!--end::Page Title-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid" id="divBodyData">

            <div class="card card-custom">
                <div class="card-body p-0">
                    <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
                        <!--begin: Wizard Body-->
                        <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                            <div class="col-xl-12 col-xxl-10">
                                <!--begin: Wizard Form-->
                                @using (Ajax.BeginForm("ChangePassword", "User", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", OnFailure = "OnFailure", LoadingElementId = "AjaxLoader" }, new { @id = "kt_form", @class = "kt-form kt-form-white", @autocomplete = "off" }))
                                {
                                    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                        @Html.HiddenFor(x => x.UserId)
                                        <!--end::Input-->
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <!--begin::Input-->
                                                <div class="form-group">
                                                    <label class="" style="text-align:right">Old Password<span class="error_Validation">*</span></label>
                                                    @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control clspass reqfield validpassword", @type = "password", @placeholder = "Old Password" })
                                                    <span class="form-text text-muted error_Validation OldPassword "></span>
                                                </div>
                                                <!--end::Input-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <!--begin::Input-->
                                                <div class="form-group">
                                                    <label class="" style="text-align:right">New Password<span class="error_Validation">*</span></label>
                                                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control clspass reqfield validpassword", @type = "password", @placeholder = "New Password" })
                                                    <span class="form-text text-muted error_Validation Password "></span>
                                                </div>
                                                <!--end::Input-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <!--begin::Input-->
                                                <div class="form-group">
                                                    <label class="" style="text-align:right">Confirm Password<span class="error_Validation">*</span></label>
                                                    @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control clspass reqfield validpassword", @type = "password", @placeholder = "Confirm Password" })
                                                    <span class="form-text text-muted error_Validation ConfirmPassword "></span>
                                                </div>
                                                <!--end::Input-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                        <div class="mr-2">
                                        </div>
                                        <div>
                                            <button type="submit" id="btnSubmit" onclick="return Validation()" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Change Password</button>
                                        </div>
                                    </div>
                                }
                                <!--end: Wizard Form-->
                            </div>
                        </div>
                        <!--end: Wizard Body-->
                    </div>
                </div>
            </div>

        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
@Scripts.Render("~/script/wizard3")