﻿@using System.Web.Optimization;
@model NHSC.Models.Entities.UserModel
@using NHSC.Resources;
@using NHSC.Common;

@Scripts.Render("~/script/Validation")
@Styles.Render("~/Content/wizard3")
<script>
     $(document).ready(function () {
          SetActiveMenu('@Convert.ToInt16(Menu.Users)');
    });

    $('body').on('click', '#btnSubmit', function (event) {
        try {
            LoginCheck();
            if (!BindSpclValidationEventClick("#kt_form")) {
                return false;
            }
            else {
                ShowLoader();
                var data = $("#kt_form").serialize();
                var strUrl = '@Url.Action("MyProfile", "User")';
                $.ajax({
                    url: strUrl,
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        if (result != undefined && result.statusCode == 1) {
                            ShowMessageBox(1, result.msg);
                        } else {
                            ShowMessageBox(0, result.msg);
                        }
                    },
                    complete: function () {
                        HideLoader();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
        } catch (e) {
            console.log(e);
        }
    });
</script>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5" id="headerTitle">My Profile</h5>
                    <!--end::Page Title-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid" id="divBodyData">

            <div class="card card-custom">
                <div class="card-body p-0">
                    <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
                        <!--begin: Wizard Body-->
                        <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                            <div class="col-xl-12 col-xxl-10">
                                <!--begin: Wizard Form-->
                                @using (Ajax.BeginForm("MyProfile", "User", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                                {
                                    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                        @Html.HiddenFor(x => x.UserId)
                                        <!--end::Input-->
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <!--begin::Input-->
                                                <div class="form-group">
                                                    <label>First Name <span class="error_Validation">*</span></label>
                                                    @Html.TextBoxFor(x => x.FName, new { @class = "form-control clstext reqfield", @placeholder = "First Name", @maxlength = "255" })
                                                    <span class="form-text text-muted error_Validation FName"></span>
                                                </div>
                                                <!--end::Input-->
                                            </div>
                                            <div class="col-xl-6">
                                                <!--begin::Input-->
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    @Html.TextBoxFor(x => x.LName, new { @class = "form-control clstext", @placeholder = "Last Name", @maxlength = "255" })
                                                    <span class="form-text text-muted error_Validation LName"></span>
                                                </div>
                                                <!--end::Input-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <!--begin::Input-->
                                                <div class="form-group">
                                                    <label>User Name <span class="error_Validation">*</span></label>
                                                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control clstext reqfield", @placeholder = "User Name", @maxlength = "255" })
                                                    <span class="form-text text-muted error_Validation UserName"></span>
                                                </div>
                                                <!--end::Input-->
                                            </div>
                                            <div class="col-xl-6">
                                                <!--begin::Input-->
                                                <div class="form-group">
                                                    <label>Email<span class="error_Validation">*</span></label>
                                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control clstext reqfield regemail", @placeholder = "Email", @maxlength = "255", @readonly = "readonly", @disabled = "disabled" })
                                                    <span class="form-text text-muted error_Validation Email"></span>
                                                </div>
                                                <!--end::Input-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <!--begin::Input-->
                                                <div class="form-group">
                                                    <label>User Group <span class="error_Validation">*</span></label>
                                                    @Html.DropDownListFor(x => x.UserGroupId, ViewBag.GroupList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield", @readonly = "readonly", @disabled = "disabled" })
                                                    <span class="form-text text-muted error_Validation UserGroupId"></span>
                                                </div>
                                                <!--end::Input-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                        <div class="mr-2">
                                        </div>
                                        <div>
                                            <button type="button" id="btnSubmit" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Update</button>
                                        </div>
                                    </div>
                                }
                                    <!--end: Wizard Form-->
                                </div>
                            </div>
                            <!--end: Wizard Body-->
                        </div>
                    </div>
                </div>

            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    @Scripts.Render("~/script/wizard3")