﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.AssignRotaModel
@{
    ViewBag.Title = "Multidisciplinary Rota Template";
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-12">
                    @if (Model.RotaList.Count == 0)
                    {
                        <h1 style="text-align:center">No Data Found..</h1>
                    }
                    else
                    {
                        <!--begin: Wizard Form-->
                        using (Ajax.BeginForm("Index", "MultidisciplinaryRotaTemplate", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                        {
                            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                @if (Model.RotaList != null && Model.RotaList.Count > 0)
                                {
                                    foreach (var roat in Model.RotaList)
                                    {
                                        <div>
                                            <h1>@roat.RotaTemplateName</h1>
                                            <table class="table table-bordered table-hover table-checkable">
                                                <thead>
                                                    <tr>
                                                        <th>Days</th>
                                                        @foreach (var shift in roat.ShiftList)
                                                        {
                                                            <th>
                                                                @shift.ShiftName  <br /> @shift.StartTime<span>-</span>

                                                                @(shift.EndTime== "23:59" ? "24:00" : shift.EndTime)
                                                            </th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var day in roat.DaysList)
                                                    {
                                                        <tr>
                                                            <td>@day.Day</td>

                                                            @foreach (var shifyday in day.DayWiseShiftList)
                                                            {
                                                                <td style="background-color: @shifyday.ColorName"><a href="javascript:void(0)" class="@(roat.IsAllowEdit ? "EditRec" : "") clsRota_@shifyday.RotaAssignId" data-tempid="@shifyday.RotaTemplateId" data-assignid="@shifyday.RotaAssignId" data-staffid="@shifyday.StaffId"> <span class="Staff_@shifyday.RotaAssignId">  @shifyday.StaffName </span></a></td>
                                                            }
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                }
                            </div>
                        }
                        <!--end: Wizard Form-->
                    }
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>

@*@Scripts.Render("~/script/wizard3")*@
<script>
    $(document).ready(function () {
    if ('@Model.RotaList.Count' == 0) {
        $(".clsExportButton").addClass("hidden");
    }
    else { 
        $(".clsExportButton").removeClass("hidden");
    }

    });
</script>