﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.StaffPopUp
@{
    ViewBag.Title = "Staff PopUp";
}
<!--begin::Modal-->
<div class="modal fade" id="divStaffPopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Staff</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form class="form" id="frmStaff">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-3 col-sm-12">Staff</label>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            <div class="input-group date" id="kt_datetimepicker_9" data-target-input="nearest">
                                @Html.HiddenFor(x => x.RotaAssignId)
                                @Html.HiddenFor(x => x.RotaTemplateId)
                                @Html.DropDownListFor(x => x.StaffId, ViewBag.StaffList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield clsStaffId", @style = "width:100%" })
                                <span class="form-text text-muted error_Validation StaffId"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-primary mr-2" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" id="btnUpdateStaff">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Modal-->

<script>
    $(document).ready(function () {
        $(".clsStaffId").select2({
            selectOnClose: true
        });
    });
</script>