﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.StaffPopUp
@{
    ViewBag.Title = "Staff PopUp";
}
<!--begin::Modal-->
<div class="modal fade" id="divStaffPopup" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Staff</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form class="form" id="frmStaff">
                <div class="modal-body">
                    <div class="form-group row remove_margin">
                        <label class="col-form-label text-right col-lg-3 col-sm-12">Staff</label>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            <div class="input-group date" id="kt_datetimepicker_9" data-target-input="nearest">
                                @Html.HiddenFor(x => x.ActualRotaId)
                                @Html.HiddenFor(x => x.RotaTemplateId)
                                @Html.HiddenFor(x => x.ActualStartTime)
                                @Html.HiddenFor(x => x.ActualEndTime)
                                @Html.HiddenFor(x => x.StaffName)
                                @Html.HiddenFor(x => x.SplitStaffName)
                                @Html.HiddenFor(x => x.RotaDate)
                                @Html.DropDownListFor(x => x.StaffId, ViewBag.StaffList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield clsStaffId", @style = "width:100%" })
                                <span class="form-text text-muted error_Validation StaffId"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row remove_margin">

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                @{string List = "";}
                                @foreach (var item in Model.StaffList)
                                {
                                    <div class="col-6">
                                        <div class="" style="display: table-row; text-align: center">
                                            <div class="" style="display: table-cell; padding-left: 5px;padding-right: 5px">
                                                <p class="remove_margin_p">
                                                    @item.ColumnName :
                                                </p>
                                            </div>

                                            <div class="" style="display: table-cell; padding-left: 5px;padding-right: 5px">
                                                <p class="remove_margin_p">
                                                    @item.Value
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                    <div class="form-group row remove_margin">
                        <label class="col-form-label text-right col-lg-3 col-sm-12">Is Split Shift</label>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="input-group date" id="kt_datetimepicker_9" data-target-input="nearest">
                                @Html.CheckBoxFor(x => x.IsSplit, new { @class = "form-control clsddl", @style = "height:30px;margin-right: 50px;" })
                                <span class="form-text text-muted error_Validation IsSplit"></span>
                            </div>
                        </div>
                    </div>
                    <div id="divSplitShift" class="@(Model.IsSplit == true ? "" : "hidden")">
                        <div class="form-group row remove_margin">
                            <label class="col-form-label text-right col-lg-3 col-sm-12">Split Staff</label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <div class="input-group date" id="kt_datetimepicker_9" data-target-input="nearest">
                                    @Html.DropDownListFor(x => x.SplitStaffId, ViewBag.StaffList as SelectList, "--Select--", new { @class = "form-control clsddl clsreqfield clsSplitStaffId " + (Model.IsSplit == true ? "reqfield" : "") + " ", @style = "width:100%" })
                                    <span class="form-text text-muted error_Validation SplitStaffId"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row remove_margin">

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    @{ List = "";}
                                    @foreach (var item in Model.SplitStaffList)
                                    {
                                        <div class="col-6">
                                            <div class="" style="display: table-row; text-align: center">
                                                <div class="" style="display: table-cell; padding-left: 5px;padding-right: 5px">
                                                    <p class="remove_margin_p">
                                                        @item.ColumnName :
                                                    </p>
                                                </div>

                                                <div class="" style="display: table-cell; padding-left: 5px;padding-right: 5px">
                                                    <p class="remove_margin_p">
                                                        @item.Value
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <label>Split Start Time <span class="error_Validation">*</span></label>
                                    @Html.TextBoxFor(x => x.SplitStartTime, new { @class = "form-control clstext clsreqfield clsSplitStartTime clsTime " + (Model.IsSplit == true ? "reqfield" : "") + "", @placeholder = "Split Start Time", @value = Model.SplitStartTime })
                                    <span class="form-text text-muted error_Validation SplitStartTime"></span>
                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-6">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <label>Split End Time <span class="error_Validation">*</span></label>
                                    @Html.TextBoxFor(x => x.SplitEndTime, new { @class = "form-control clstext clsreqfield clsSplitEndTime clsTime " + (Model.IsSplit == true ? "reqfield" : "") + "", @placeholder = "Split End Time", @value = Model.SplitEndTime })
                                    <span class="form-text text-muted error_Validation SplitEndTime"></span>
                                </div>
                                <!--end::Input-->
                            </div>
                        </div>
                        @*<div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">Set End Time s 24 Hour</label>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="input-group date" id="kt_datetimepicker_9" data-target-input="nearest">
                    @Html.CheckBoxFor(x => x.IsSplit, new { @class = "form-control clsddl", @style = "height:30px;margin-right: 50px;" })
                    <span class="form-text text-muted error_Validation IsSplit"></span>
                </div>
            </div>
        </div>*@
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="input-group date" id="kt_datetimepicker_9" data-target-input="nearest">
                                    <span class="form-text text-muted error_Validation">
                                        Note:</br>
                                        1. @ViewBag.Note
                                        </br> 2.  @ViewBag.Note1
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-primary mr-2" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" id="btnUpdateStaff">Update</button>
                    @if (Model.StaffId > 0 || Model.SplitStaffId > 0)
                    {
                        <button type="button" class="btn btn-secondary" id="btnUpdateUnAssign">Un Assign</button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Modal-->

<script>
    $(document).ready(function () {
        $(".clsStaffId").select2({
            selectOnClose: true
        });
        $(".clsSplitStaffId").select2({
            selectOnClose: true
        });

        var starttime = $('.clsSplitStartTime').timepicker({
            minuteStep: 1,
            showMeridian: false,
            snapToStep: true,
        });
        var endtime = $('.clsSplitEndTime').timepicker({
            minuteStep: 1,
            showMeridian: false,
            snapToStep: true,
        });

        $(".clsSplitEndTime").val('@Model.SplitEndTime');
        $(".clsSplitStartTime").val('@Model.SplitStartTime');

        $(".clsSplitEndTime").focus();
        $(".clsSplitStartTime").focus();

        $('.clsSplitStartTime').timepicker('hideWidget');
        $('.clsSplitEndTime').timepicker('hideWidget');

        $('body').on('click', '.clsTime', function (event) {
            $(this).focus();
        });

        $('body').on('click', '#IsSplit', function (event) {
            if ($(this).is(":checked")) {
                $("#divSplitShift").removeClass("hidden");
                $(".clsreqfield").addClass("reqfield");
            } else {
                $("#divSplitShift").addClass("hidden");
                $(".clsreqfield").removeClass("reqfield");
            }
        });



    });
</script>