﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.ShiftModel
@{
    ViewBag.Title = "Shift";
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-10">
                    <!--begin: Wizard Form-->
                    @using (Ajax.BeginForm("Index", "Shift", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                    {
                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                            @Html.HiddenFor(x => x.ShiftId)
                            <!--end::Input-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Shift Name <span class="error_Validation">*</span></label>
                                        @Html.TextBoxFor(x => x.ShiftName, new { @class = "form-control clstext reqfield", @placeholder = "Shift Name", @maxlength = "500" })
                                        <span class="form-text text-muted error_Validation ShiftName"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Skill Set <span class="error_Validation">*</span></label>
                                        @Html.DropDownListFor(x => x.SkillSetId, ViewBag.SkillSetList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield clsSkillSetId" })
                                        <span class="form-text text-muted error_Validation SkillSetId"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Color <span class="error_Validation">*</span>  <div class="divColor clsColor" style="background-color:@Model.ColorName"></div></label>
                                        @Html.DropDownListFor(x => x.ColorId, ViewBag.ColorList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield clsColorId" })
                                        @*@Html.HiddenFor(x => x.ColorId)*@
                                        @*<select class="form-control selectpicker clsColorId  clsddl" id="">
                                                @if (ViewBag.ColorList != null)
                                                {
                                                    <option value="0">--Select Color--</option>
                                                    foreach (var item in ViewBag.ColorList)
                                                    {
                                                        if (Model.ColorId.ToString() == item.Value)
                                                        {
                                                            <option selected="selected" style="background-color:@item.Text">@item.Text</option>
                                                        }
                                                        else
                                                        {
                                                            <option style="background-color:@item.Text">@item.Text</option>
                                                        }
                                                    }
                                                }
                                            </select>*@
                                        <span class="form-text text-muted error_Validation ColorId"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Default Staff </label>
                                        @Html.DropDownListFor(x => x.StaffId, ViewBag.StaffList as SelectList, "--Select--", new { @class = "form-control clsddl  clsStaffId" })
                                        <span class="form-text text-muted error_Validation StaffId"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Start Time <span class="error_Validation">*</span></label>
                                        @Html.TextBoxFor(x => x.StartTime, new { @class = "form-control clstext reqfield clsStartTime clsTime", @placeholder = "Start Time", @value = Model.StartTimes })
                                        <span class="form-text text-muted error_Validation StartTime"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-3">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>End Time <span class="error_Validation">*</span></label>
                                        @Html.TextBoxFor(x => x.EndTime, new { @class = "form-control clstext reqfield clsEndTime clsTime", @placeholder = "End Time", @value = Model.EndTimes })
                                        <span class="form-text text-muted error_Validation EndTime"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-3">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Active <span class="error_Validation">*</span></label>
                                        <div class="radio-inline">
                                            <label class="radio">
                                                @Html.RadioButton("ActiveStatus", (int)YesNo.Yes, Model.ActiveStatus)
                                                <span></span>@DisplayText.Get(typeof(YesNo), YesNo.Yes.ToString()).ToString()

                                            </label>
                                            <label class="radio">
                                                @Html.RadioButton("ActiveStatus", (int)YesNo.No, Model.ActiveStatus)
                                                <span></span> @DisplayText.Get(typeof(YesNo), YesNo.No.ToString()).ToString()
                                            </label>
                                        </div>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-3">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Must Be Filled <span class="error_Validation">*</span></label>
                                        <div class="radio-inline">
                                            <label class="radio">
                                                @Html.RadioButton("MustBeFilledStatus", (int)YesNo.Yes, Model.MustBeFilledStatus)
                                                <span></span>@DisplayText.Get(typeof(YesNo), YesNo.Yes.ToString()).ToString()

                                            </label>
                                            <label class="radio">
                                                @Html.RadioButton("MustBeFilledStatus", (int)YesNo.No, Model.MustBeFilledStatus)
                                                <span></span> @DisplayText.Get(typeof(YesNo), YesNo.No.ToString()).ToString()
                                            </label>
                                        </div>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label> </label>
                                        <div class="checkbox-inline">
                                            <label class="checkbox checkbox-lg bold-font">
                                                @Html.CheckBoxFor(x => x.Set24Hour)
                                                <span></span>24:00 and if its ticked it will disable the date picker
                                            </label>
                                        </div>
                                        <span class="form-text text-muted error_Validation ColorId"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Department <span class="error_Validation">*</span></label>
                                        <select class="form-control select2 clsddl  clsDepartment" id="Department" name="Department" multiple="multiple" onchange="SelectValueChosen(this, 'DepartmentIds', true)" style="width:100%">
                                            @foreach (var item in ViewBag.DepartmentList)
                                            {
                                                if (Model.DepartmentList != null && Model.DepartmentList.ToList().Contains(item.Value))
                                                {
                                                    <option selected value="@item.Value">@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                        <span class="form-text text-muted error_Validation DepartmentIds"></span>
                                        @Html.HiddenFor(x => x.DepartmentIds, new { @class = "form-control clstext reqfield" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between border-top mt-5 pt-10">
                            <div class="mr-2">
                            </div>
                            <div>
                                @if (Model.ShiftId > 0)
                                {
                                    <button type="button" id="btnSubmit" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Update</button>
                                }
                                else
                                {
                                    <button type="button" id="btnSubmit" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Save</button>
                                }
                            </div>
                        </div>
                    }
                    <!--end: Wizard Form-->
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>

@Scripts.Render("~/script/wizard3")
<script src="~/assets/js/pages/crud/forms/widgets/bootstrap-select.js"></script>
@*<script src="~/assets/js/pages/crud/forms/widgets/bootstap-timepicker.js"></script>*@
<script>

    $(document).ready(function () {
        $(".clsStaffId").select2({
            selectOnClose: true
        });
        $(".clsSkillSetId").select2({
            selectOnClose: true
        });
        $(".clsColorId").select2({
            selectOnClose: true
        });
        $(".clsDepartment").select2({
            placeholder: ('Select Department'),
            selectOnClose: true
        });

        //$('.clsColorId').selectpicker();

      var starttime=  $('.clsStartTime').timepicker({
            minuteStep: 1,
            showMeridian: false,
            snapToStep: true,
        });
        var endtime =    $('.clsEndTime').timepicker({
            minuteStep: 1,
            showMeridian: false,
            snapToStep: true,
        });

        $(".clsEndTime").val('@Model.EndTimes');
        $(".clsStartTime").val('@Model.StartTimes');
        $(".clsEndTime").focus();
        $(".clsStartTime").focus();
        $("#ShiftName").focus();
        $('.clsStartTime').timepicker('hideWidget');
        $('.clsEndTime').timepicker('hideWidget');
          if ('@Model.Set24Hour'=="True")
          {
            $(".clsEndTime").attr("readonly", true);
            $(".clsEndTime").attr("disabled", true);
            $(".clsEndTime").val("24:00");
          }

        $("body").on("click", ".select2-container", function () {
            MakeColorBackgroundOfSelect2();
        });

        document.body.onkeyup = function (e) {
            if (e.keyCode == 32) {
                MakeColorBackgroundOfSelect2();
            }
        }
    });

    function MakeColorBackgroundOfSelect2() {
        $("#select2-ColorId-results li").each(function () {
            var color = $(this).html();
            $(this).css("background-color", color)

        });
    }

    $('body').on('click', '.clsTime', function (event) {
        $(this).focus();
    });
    $('body').on('change', '.clsColorId', function (event) {
        try {
            $(".clsColor").css("background-color", $(".clsColorId option:selected").text());
            $("#ColorId").val($(this).val());
        } catch (e) {
            console.log(e);
        }
    });
    $('body').on('click', '#Set24Hour', function (event) {
        if ($(this).is(":checked"))
        {
            $(".clsEndTime").attr("readonly", true);
            $(".clsEndTime").attr("disabled", true);
            $(".clsEndTime").val("24:00");
        }
        else
        {
            $(".clsEndTime").attr("readonly", false);
            $(".clsEndTime").attr("disabled", false);
            $(".clsEndTime").val("23:00");
             $(".clsEndTime").focus();
            $(".clsStartTime").focus();
            $('.clsStartTime').timepicker('hideWidget');
            $('.clsEndTime').timepicker('hideWidget');
        }
    });


</script>
