﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.ShiftModel
@{
    ViewBag.Title = "Shift";
}


<div class="card card-custom">
    <div class="card-body">
        <!--begin: Datatable-->
        <table class="table table-bordered table-hover table-checkable" id="tblList" style="margin-top: 13px !important">
            <thead>
                <tr>
                    <th></th>
                    <th style="width:45%">Shift Name</th>
                    <th style="width:10%">Start Time</th>
                    <th style="width:10%">End Time</th>
                    <th style="width:15%">Staff</th>
                    <th style="width:15%">Skill Set</th>
                    <th style="width:5%">Actions</th>
                </tr>
            </thead>

        </table>
        <!--end: Datatable-->
    </div>
</div>

<script>
    $(document).ready(function () {
        $.fn.dataTableExt.sErrMode = 'throw';
        $("#tblList").DataTable({
            stateSave: true,
            "scrollY": 350,
            "scrollX": true,
            "processing": false, // for show progress bar
            "searching": true,
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "stateSaveParams": function (settings, data) {
                //data.search.search = "";
                //data.start = 0;
                //data.order[0][0] = 0;
                //data.order[0]._idx = 0;
            },
            "ajax": {
                "url": '@Url.Action("GetListJson","Shift")',
                "type": "POST",
                "datatype": "json"
              },
              language: {
                  "info": "Showing _START_ to _END_ of _TOTAL_ results",
                  "lengthMenu": "_MENU_",
                  "loadingRecords": "Loading...",
                  "processing": "Processing...",
                  "search": "",
                  "searchPlaceholder": "Search records...",
                  "sEmptyTable": "No Data Found.",
                  "zeroRecords": "No Data Found."
              },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
              }],
              "order": [[1, "asc"]],
              "initComplete": function (settings, json) {
                  HideLoader();
                  $('.red-tooltip').tooltip();
              },
              "preDrawCallback": function (settings, json) {
                  if (!isSearch) {
                      ShowLoader();
                  } else {
                      isSearch = false;
                  }
            },
            "lengthMenu": [5,10, 25, 50, 100,500],
              "drawCallback": function (settings) {
                  HideLoader();
                  AddPaginLength("tblList");
                  $('.red-tooltip').tooltip();
              },
              "columns": [
                  { "data": "ShiftId", "name": "ShiftId", "autoWidth": true },
                  {
                      "data": "ShiftName", "name": "ShiftName", "autoWidth": true, "render": function (data, type, full, meta) {
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.ShiftName + '" class="red-tooltip" href="javascript:void(0)" ><div class="divColor" style="background-color:' + full.ColorName +'"></div><div style="display:inline-block;margin-top:5px">' + full.ShiftName  + '</div></a>';

                          return action;
                      }
                  },
                  { "data": "StartTimes", "name": "StartTime", "autoWidth": true },
                  {
                      "data": "EndTimes", "name": "EndTime", "autoWidth": true, "render": function (data, type, full, meta) {

                          var action = "";
                          if (full.Set24Hour) {

                              action = "24:00";
                          } else {

                              action = full.EndTimes
                          }
                          return action;
                      }
                  },
                  {
                      "data": "Surname", "name": "Surname", "autoWidth": true, "render": function (data, type, full, meta) {
                          var posit = full.Surname;
                          if (posit.length > 20) {
                              posit = posit.substring(0, 20) + "...";
                          }
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.Surname + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;">' + posit + '</div></a>';

                          return action;
                      }
                  },
                  {
                      "data": "SkillSetName", "name": "SkillSetName", "autoWidth": true, "render": function (data, type, full, meta) {
                          var posit = full.SkillSetName;
                          if (posit.length > 20) {
                              posit = posit.substring(0, 20) + "...";
                          }
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.SkillSetName + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;margin-top:5px">' + posit + '</div></a>';

                          return action;
                      }
                  },
                {
                    "orderable": false, "render": function (data, type, full, meta) {
                        var action = '';
                        action += '<div class="dropdown dropdown-inline"> <a href="javascript:void(0);" class="btn btn-sm btn-clean btn-icon" data-toggle="dropdown"> <i class="la la-cog"></i> </a>';
                        action += '<div class="dropdown-menu dropdown-menu-sm dropdown-menu-right"> <ul class="nav nav-hoverable flex-column">'
                        if (full.IsAllowEdit) {
                            if (!full.IsAdmin) {
                                if ('@CommonFunctions.Edit' == "True") {
                                    action += '<li class="nav-item"><a class="nav-link EditRec" href="javascript:void(0);" data-id="' + full.ShiftId + '"><i class="nav-icon la la-edit"></i><span class="nav-text">Edit</span></a></li>'
                                }
                                if ('@CommonFunctions.Delete' == "True") {
                                    action += '<li class="nav-item"><a class="nav-link DeleteRec" href="javascript:void(0);" data-id="' + full.ShiftId + '"><i class="nav-icon la la-trash"></i><span class="nav-text">Delete</span></a></li>'
                                }
                            }
                        }
                        action += '<li class="nav-item"><a class="nav-link ViewRec" href="javascript:void(0);" data-id="' + full.ShiftId + '"><i class="nav-icon la la-eye"></i><span class="nav-text">View</span></a></li>'
                        action += '</ul></div></div>'
                        return action;
                    }
                }
            ]
        });
        AppendToolTipAfterSearch("tblList_filter");
    });
</script>