﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.ShiftModel
@{
    ViewBag.Title = "Shift";
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-10">
                    <!--begin: Wizard Form-->
                    @using (Ajax.BeginForm("Index", "Shift", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                    {
                    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                        @Html.HiddenFor(x => x.ShiftId)
                        <!--end::Input-->
                        <div class="row">
                            <div class="col-xl-6">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <label>Shift Name <span class="error_Validation">*</span></label>
                                    @Html.TextBoxFor(x => x.ShiftName, new { @class = "form-control clstext reqfield", @placeholder = "Shift Name", @maxlength = "500", @disabled = "@disabled", @readonly = "readonly" })
                                    <span class="form-text text-muted error_Validation ShiftName"></span>
                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-6">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <label>Skill Set <span class="error_Validation">*</span></label>
                                    @Html.DropDownListFor(x => x.SkillSetId, ViewBag.SkillSetList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield clsSkillSetId", @disabled = "@disabled", @readonly = "readonly" })
                                    <span class="form-text text-muted error_Validation SkillSetId"></span>
                                </div>
                                <!--end::Input-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <label>Color <span class="error_Validation">*</span><div class="divColor" style="background-color:@Model.ColorName"></div></label>
                                    @Html.DropDownListFor(x => x.ColorId, ViewBag.ColorList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield clsColorId", @disabled = "@disabled", @readonly = "readonly" })
                                    <span class="form-text text-muted error_Validation ColorId"></span>
                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-6">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <label>Default Staff <span class="error_Validation">*</span></label>
                                    @Html.DropDownListFor(x => x.StaffId, ViewBag.StaffList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield clsStaffId", @disabled = "@disabled", @readonly = "readonly" })
                                    <span class="form-text text-muted error_Validation StaffId"></span>
                                </div>
                                <!--end::Input-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <label>Start Time <span class="error_Validation">*</span></label>
                                    @Html.TextBoxFor(x => x.StartTime, new { @class = "form-control clstext reqfield clsStartTime clsTime", @placeholder = "Start Time", @readonly = "readonly", @value = Model.StartTimes, @disabled = "@disabled" })
                                    <span class="form-text text-muted error_Validation StartTime"></span>
                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-3">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <label>End Time <span class="error_Validation">*</span></label>
                                    @Html.TextBoxFor(x => x.EndTime, new { @class = "form-control clstext reqfield clsEndTime clsTime", @placeholder = "End Time", @value = Model.EndTimes, @disabled = "@disabled", @readonly = "readonly" })
                                    <span class="form-text text-muted error_Validation EndTime"></span>
                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-3">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <label>Active <span class="error_Validation">*</span></label>
                                    <div class="radio-inline">
                                        <label class="radio">
                                            @Html.RadioButton("ActiveStatus", (int)YesNo.Yes, Model.ActiveStatus)
                                            <span></span>@DisplayText.Get(typeof(YesNo), YesNo.Yes.ToString()).ToString()

                                        </label>
                                        <label class="radio">
                                            @Html.RadioButton("ActiveStatus", (int)YesNo.No, Model.ActiveStatus)
                                            <span></span> @DisplayText.Get(typeof(YesNo), YesNo.No.ToString()).ToString()
                                        </label>
                                    </div>
                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-3">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <label>MustBeFilled <span class="error_Validation">*</span></label>
                                    <div class="radio-inline">
                                        <label class="radio">
                                            @Html.RadioButton("MustBeFilledStatus", (int)YesNo.Yes, Model.MustBeFilledStatus)
                                            <span></span>@DisplayText.Get(typeof(YesNo), YesNo.Yes.ToString()).ToString()

                                        </label>
                                        <label class="radio">
                                            @Html.RadioButton("MustBeFilledStatus", (int)YesNo.No, Model.MustBeFilledStatus)
                                            <span></span> @DisplayText.Get(typeof(YesNo), YesNo.No.ToString()).ToString()
                                        </label>
                                    </div>
                                </div>
                                <!--end::Input-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <label> </label>
                                    <div class="checkbox-inline">
                                        <label class="checkbox checkbox-lg bold-font">
                                            @Html.CheckBoxFor(x => x.Set24Hour)
                                            <span></span>24:00 and if its ticked it will disable the date picker
                                        </label>
                                    </div>
                                    <span class="form-text text-muted error_Validation ColorId"></span>
                                </div>
                                <!--end::Input-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <label>Created On <span class="error_Validation">*</span></label>
                                    @Html.TextBoxFor(x => x.Date, new { @class = "form-control clstext", @disabled = "@disabled", @readonly = "readonly" })
                                    <span class="form-text text-muted error_Validation ShiftName"></span>
                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Department <span class="error_Validation">*</span></label>
                                    <select class="form-control select2 clsddl  clsDepartment" id="Department" disabled name="Department" multiple="multiple" onchange="SelectValueChosen(this, 'DepartmentIds', true)" style="width:100%">
                                        @foreach (var item in ViewBag.DepartmentList)
                                        {
                                            if (Model.DepartmentList != null && Model.DepartmentList.ToList().Contains(item.Value))
                                            {
                                                <option selected value="@item.Value">@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                    <span class="form-text text-muted error_Validation DepartmentIds"></span>
                                    @Html.HiddenFor(x => x.DepartmentIds, new { @class = "form-control clstext reqfield" })
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    <!--end: Wizard Form-->
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>

@Scripts.Render("~/script/wizard3")
<script>

    $(document).ready(function () {
        $(".clsDepartment").select2({
            placeholder: ('Select Department'),
            selectOnClose: true
        });
        $(".clsStaffId").select2();
        $(".clsSkillSetId").select2();
        $(".clsColorId").select2();
        $(".clsEndTime").val('@Model.EndTimes');
        $(".clsStartTime").val('@Model.StartTimes');
        $("input:radio").attr("disabled", true);
        $("input:checkbox").attr("disabled", true);

         if ('@Model.Set24Hour'=="True")
          {
            $(".clsEndTime").attr("readonly", true);
            $(".clsEndTime").attr("disabled", true);
            $(".clsEndTime").val("24:00");
          }

    });
</script>
