﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.BankHolidayModel
@{
    ViewBag.Title = "Bank Holidays";
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-10">
                    <!--begin: Wizard Form-->
                    @using (Ajax.BeginForm("Index", "BankHoliday", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                    {
                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                            @Html.HiddenFor(x => x.BankHolidaysId)
                            <!--end::Input-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Holiday Name <span class="error_Validation">*</span></label>
                                        @Html.TextBoxFor(x => x.HolidayName, new { @class = "form-control clstext reqfield", @placeholder = "Holiday Name", @maxlength = "255" })
                                        <span class="form-text text-muted error_Validation HolidayName"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Holiday Date <span class="error_Validation">*</span></label>
                                        @Html.TextBoxFor(x => x.HolidayDate, "{0:dd-MM-yyyy}", new { @id = "HolidayDate", @readonly = "readonly", @class = "form-control reqfield clsDate", @style = "height:43px", @placeholder = "HoliDay Date", @type = "text" })
                                        @Html.HiddenFor(x => x.HolidayDates)
                                        <span class="form-text text-muted error_Validation HolidayDate"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between border-top mt-5 pt-10">
                            <div class="mr-2">
                            </div>
                            <div>
                                @if (Model.BankHolidaysId > 0)
                                {
                                    <button type="button" id="btnSubmit" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Update</button>
                                }
                                else
                                {
                                    <button type="button" id="btnSubmit" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Save</button>
                                }
                            </div>
                        </div>
                    }
                    <!--end: Wizard Form-->
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>

@Scripts.Render("~/script/wizard3")
<script>
    $(document).ready(function () {

        //$("#HolidayDate").val('@Model.HolidayDates');
      var date=  $("#HolidayDate").datepicker({
                minView: 1,
                format: "dd-mm-yy",
                //startDate: new Date,
                defaultViewDate: new Date(),
                autoclose: true,
                todayHighlight: !0,
                pickerPosition: "bottom-left",
        });

       
        $("#HolidayDate").focus();

        $("#HolidayName").focus();
        date.datepicker("hide"); 
    });

</script>