﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.BankHolidayModel
@{
    ViewBag.Title = "Bank Holidays";
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-10">
                    <!--begin: Wizard Form-->
                    @using (Ajax.BeginForm("Index", "BankHoliday", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                    {
                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                            @Html.HiddenFor(x => x.BankHolidaysId)
                            <!--end::Input-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Holiday Name <span class="error_Validation">*</span></label>
                                        @Html.TextBoxFor(x => x.HolidayName, new { @class = "form-control clstext reqfield", @placeholder = "Holiday Name", @maxlength = "255", @readonly = "readonly",@disabled= "@disabled" })
                                        <span class="form-text text-muted error_Validation HolidayName"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Holiday Date</label>
                                        @Html.TextBoxFor(x => x.HolidayDate, new { @id = "HolidayDate", @readonly = "readonly", @class = "form-control reqfield clsDate", @disabled = "@disabled", @style = "height:43px", @placeholder = "HoliDay Date", @type = "text", @min = "" + Model.HolidayDates + "" })
                                        <span class="form-text text-muted error_Validation kt_datepicker_6"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                        </div>
                    }
                    <!--end: Wizard Form-->
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>

@Scripts.Render("~/script/wizard3")
<script>
    $(document).ready(function () {
        $("#HolidayDate").val('@Model.HolidayDates');
    });

</script>