﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.StaffModel
@{
    ViewBag.Title = "Assign Department and Site";
}
<!--begin::Modal-->
<div class="modal fade" id="DepSitePopUp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Assign Bulk Department and Site</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form class="form" id="frmDepSite">
                @Html.HiddenFor(x => x.StaffIds, new { @class = "form-control clstext" })
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="form-group">
                                <label>Skill Set <span class="error_Validation">*</span></label>
                                <select class="form-control select2 clsddl  clsSkillSet" id="SkillSet" name="SkillSet" multiple="multiple" onchange="SelectValueChosen(this, 'SkillSetIds', true)" style="width:100%">
                                    @foreach (var item in ViewBag.SkillSetList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                                <span class="form-text text-muted error_Validation SkillSetIds"></span>
                                @Html.HiddenFor(x => x.SkillSetIds, new { @class = "form-control clstext reqfield" })
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group">
                                <label>Department <span class="error_Validation">*</span></label>
                                <select class="form-control select2 clsddl  clsDepartment" id="Department" name="Department" multiple="multiple" onchange="SelectValueChosen(this, 'DepartmentIds', true)" style="width:100%">
                                    @foreach (var item in ViewBag.DepartmentList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                                <span class="form-text text-muted error_Validation DepartmentIds"></span>
                                @Html.HiddenFor(x => x.DepartmentIds, new { @class = "form-control clstext reqfield" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-primary mr-2" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" id="btnAssignDepSite">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Modal-->

<script>
    $(document).ready(function () {
        $(".clsSkillSet").select2({
            placeholder: ('Select Skill Set'),
            selectOnClose: true
        });
        $(".clsDepartment").select2({
            placeholder: ('Select Department'),
            selectOnClose: true
        });
    });
</script>