﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.StaffModel
@{
    ViewBag.Title = "Staff";
}


<div class="card card-custom">
    <div class="card-body">
        <!--begin: Datatable-->
        <table class="table table-bordered table-hover table-checkable" id="tblList" style="margin-top: 13px !important">
            <thead>
                <tr>
                    <th width="5%"><input type="checkbox" class="clsCheckAll clsCheckBox"></th>
                    <th style="width:5%">Title</th>
                    <th style="width:13%">Forename</th>
                    <th style="width:12%">Surname</th>
                    <th style="width:20%">Skll Set</th>
                    <th style="width:20%">Departments</th>
                    <th style="width:15%">Created On</th>
                    <th style="width:5%">Actions</th>
                </tr>
            </thead>

        </table>
        <!--end: Datatable-->
    </div>
</div>

<script>
    $(document).ready(function () {
        $.fn.dataTableExt.sErrMode = 'throw';
        $("#tblList").DataTable({
            stateSave: true,
            "scrollY": 350,
            "scrollX": true,
            "processing": false, // for show progress bar
            "searching": true,
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "stateSaveParams": function (settings, data) {
                //data.search.search = "";
                //data.start = 0;
                //data.order[0][0] = 0;
                //data.order[0]._idx = 0;
            },
            "ajax": {
                "url": '@Url.Action("GetListJson","Staff")',
                "type": "POST",
                "datatype": "json"
              },
              language: {
                  "info": "Showing _START_ to _END_ of _TOTAL_ results",
                  "lengthMenu": "_MENU_",
                  "loadingRecords": "Loading...",
                  "processing": "Processing...",
                  "search": "",
                  "searchPlaceholder": "Search records...",
                  "sEmptyTable": "No Data Found.",
                  "zeroRecords": "No Data Found."
              },
            "columnDefs": [{
                "targets": [0],
                "visible": true,
                "searchable": false
              }],
              "order": [[1, "asc"]],
              "initComplete": function (settings, json) {
                  HideLoader();
                  $('.red-tooltip').tooltip();
              },
              "preDrawCallback": function (settings, json) {
                  if (!isSearch) {
                      ShowLoader();
                  } else {
                      isSearch = false;
                  }
            },
            "lengthMenu": [5,10, 25, 50, 100,500],
              "drawCallback": function (settings) {
                  HideLoader();
                  AddPaginLength("tblList");
                  $('.red-tooltip').tooltip();
              },
              "columns": [
                  {
                      "data": "StaffId", "name": "StaffId", "orderable": false, "autoWidth": true, "render": function (data, type, full, meta) {
                          var action = "";
                          if (full.IsAllowEdit) {
                               action = '<input type="checkbox" class="clsCheckOne clsCheckBox" data-id="' + full.StaffId + '">';
                          }
                          return action;
                      }
                  },
                  {
                      "data": "TitleName", "name": "TitleName", "autoWidth": true, "render": function (data, type, full, meta) {
                          var posit = full.TitleName;
                          if (posit.length > 20) {
                              posit = posit.substring(0, 20) + "...";
                          }
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.TitleName + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;margin-top:5px">' + posit + '</div></a>';

                          return action;
                      }
                  },
                  {
                      "data": "Forename", "name": "Forename", "autoWidth": true, "render": function (data, type, full, meta) {
                          var posit = full.Forename;
                          if (posit.length > 20) {
                              posit = posit.substring(0, 20) + "...";
                          }
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.Forename + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;margin-top:5px">' + posit + '</div></a>';

                          return action;
                      }
                  },

                  {
                      "data": "Surname", "name": "Surname", "autoWidth": true, "render": function (data, type, full, meta) {
                          var posit = full.Surname;
                          if (posit.length > 20) {
                              posit = posit.substring(0, 20) + "...";
                          }
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.Surname + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;margin-top:5px">' + posit + '</div></a>';

                          return action;
                      }
                  },
                  {
                      "data": "SkillSetName", "name": "SkillSetName", "autoWidth": true, "render": function (data, type, full, meta) {
                          var posit = full.SkillSetName;
                          if (posit.length > 40) {
                              posit = posit.substring(0, 40) + "...";
                          }
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.SkillSetName + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;margin-top:5px">' + posit + '</div></a>';

                          return action;
                      }
                  },
                  {
                      "data": "DepartmentName", "name": "DepartmentName", "autoWidth": true, "render": function (data, type, full, meta) {
                          var posit = full.DepartmentName;
                          if (posit.length > 40) {
                              posit = posit.substring(0, 40) + "...";
                          }
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.DepartmentName + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;margin-top:5px">' + posit + '</div></a>';

                          return action;
                      }
                  },

                  { "data": "Date", "name": "CreatedDate", "autoWidth": true },
                {
                    "orderable": false, "render": function (data, type, full, meta) {
                        var action = '';
                        action += '<div class="dropdown dropdown-inline"> <a href="javascript:void(0);" class="btn btn-sm btn-clean btn-icon" data-toggle="dropdown"> <i class="la la-cog"></i> </a>';
                        action += '<div class="dropdown-menu dropdown-menu-sm dropdown-menu-right"> <ul class="nav nav-hoverable flex-column">'
                        if (full.IsAllowEdit) { 
                        if (!full.IsAdmin)
                        {
                        if ('@CommonFunctions.Edit'=="True") {
                            action += '<li class="nav-item"><a class="nav-link EditRec" href="javascript:void(0);" data-id="' + full.StaffId + '"><i class="nav-icon la la-edit"></i><span class="nav-text">Edit</span></a></li>'
                        }
                        if ('@CommonFunctions.Delete' == "True") {
                            action += '<li class="nav-item"><a class="nav-link DeleteRec" href="javascript:void(0);" data-id="' + full.StaffId + '"><i class="nav-icon la la-trash"></i><span class="nav-text">Delete</span></a></li>'
                            }
                            }
                        }
                        action += '<li class="nav-item"><a class="nav-link ViewRec" href="javascript:void(0);" data-id="' + full.StaffId + '"><i class="nav-icon la la-eye"></i><span class="nav-text">View</span></a></li>'
                        action += '</ul></div></div>'
                        return action;
                    }
                }
            ]
        });
        AppendToolTipAfterSearch("tblList_filter");

        $(".dataTables_length").append(' <a href="javascript:void(0)" class="btn btn-primary font-weight-bolder left-margin-15" id="AssginDepSite"> <span class="svg-icon svg-icon-md"> <i class="la la-save"></i> </span>Assign Bulk Department & Site </a>')
    });
</script>