﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.StaffModel
@{
    ViewBag.Title = "Staff Order";
}
<link href="~/assets/plugins/custom/kanban/kanban.bundle.css" rel="stylesheet" />
@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-10">
                    <!--begin: Wizard Form-->
                    @using (Ajax.BeginForm("Index", "Staff", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                    {
                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                            <!--end::Input-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Staff Name <span class="error_Validation">*</span></label>
                                        @Html.DropDownListFor(x => x.StaffId, ViewBag.StaffList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield clsStaff" })
                                        <span class="form-text text-muted error_Validation StaffId"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <div class="col-xl-6">
                                    <div class="card-body">
                                        <div id="StaffColumn" class="divCanban"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between border-top mt-5 pt-10">
                            <div class="mr-2">
                            </div>
                            <div>
                                <button type="button" id="btnSubmitOrder" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Save</button>
                            </div>
                        </div>
                    }
                    <!--end: Wizard Form-->
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>
<script src="~/assets/plugins/custom/kanban/kanban.bundle.js"></script>
@Scripts.Render("~/script/wizard3")
<script>
    $(document).ready(function () {
        $(".clsStaff").select2();
        CallKanBan();
    });


    var kanban3;
    function CallKanBan() {
        kanban3 = new jKanban({
            element: '#StaffColumn',
            dragBoards: false,
            gutter: '0',
            dragItems: true,
            widthBoard: '300px',
            click: function (a) {
            },
            dropEl: function (el, target, source, sibling) {
                setIndexingStaffOrder();
            },
            boards: [{
                'id': '_staffcolumn',
                'title': 'Staff Order',
                'class': 'primary',
                //'item': [{
                //    'title': '<span class="font-weight-bold">You can drag me too</span>',
                //    'class': 'light-primary',
                //    'id': 'light-primary',
                //},
                //{
                //    'title': '<span class="font-weight-bold">Buy Milk</span>',
                //    'class': 'light-primary',
                //}
                //]
            }
            ]

        });

        $(".kanban-board-header").append('<div class="kanban-title-board" style="float: right;">Show Column</div>');
    }

    $('body').on('change', '.clsStaff', function (event) {
        try {
            LoadOrderData($(this).val());
        } catch (e) {
            console.log(e);
        }
    });

    function LoadOrderData(Id) {
             LoginCheck();
             if (Id > 0) {
                 ShowLoader();
                 var dataObject = JSON.stringify({
                     "Id": Id,
                 });
                 var strUrl = '@Url.Action("GetOrderData", "Staff")';
                 $.ajax({
                     url: strUrl,
                     type: 'POST',
                     data: dataObject,
                     async: true,
                     contentType: 'application/json',
                     success: function (result) {
                         var HtmlString = "";
                         $.each(result.StaffOrderList, function (i, data) {
                             HtmlString += '<div class="kanban-item" data-class="light-primary">';
                             HtmlString += '<input type="hidden" class="clsStaffOrderId"  value="' + data.StaffOrderId + '"/>';
                             HtmlString += '<input type="hidden" class="clsStaffId"  value="' + data.StaffId + '"/>';
                             HtmlString += '<input type="hidden" class="clsColumnName"  value="' + data.ColumnName + '"/>';
                             HtmlString += '<input type="hidden" class="clsColumnKey"  value="' + data.ColumnKey + '"/>';
                             HtmlString += '<input type="hidden" class="clsOrderSeq" value="' + data.OrderSeq + '"/>';
                             HtmlString += '<span class="font-weight-bold"><span class="clslblOrderSeq">' + data.OrderSeq + '</span> : ' + data.ColumnName + '</span>';
                             if (data.IsShowColumn) {
                                 HtmlString += '<input type="checkbox" checked="checked" class="checkboxOrder clsIsShowColumn"/>'
                             } else {
                                 HtmlString += '<input type="checkbox" class="checkboxOrder clsIsShowColumn"/>'
                             }
                             HtmlString += '</div>';
                         });
                         $("#StaffColumn .kanban-drag").html(HtmlString);
                         setIndexingStaffOrder();
                     },
                     complete: function () {
                         HideLoader();
                     },
                     error: function (err) {
                         console.log(err);

                     }
                 });
             } else {
                 $("#StaffColumn .kanban-drag").html("");
             }
        return false;
    }

    function setIndexingStaffOrder() {
        var i = 0;
        $('#StaffColumn .kanban-item').each(function () {
            $('.clsStaffOrderId', this).attr({
                name: 'StaffOrderList[' + i + '].StaffOrderId',
                id: 'StaffOrderList_' + i + '_StaffOrderId',
            });

            $('.clsStaffId', this).attr({
                name: 'StaffOrderList[' + i + '].StaffId',
                id: 'StaffOrderList_' + i + '_StaffId',
            });
            $('.clsColumnName', this).attr({
                name: 'StaffOrderList[' + i + '].ColumnName',
                id: 'StaffOrderList_' + i + '_ColumnName',
            });
            $('.clsColumnKey', this).attr({
                name: 'StaffOrderList[' + i + '].ColumnKey',
                id: 'StaffOrderList_' + i + '_ColumnKey',
            });
            $('.clsOrderSeq', this).attr({
                name: 'StaffOrderList[' + i + '].OrderSeq',
                id: 'StaffOrderList_' + i + '_OrderSeq',
                value: i + 1
            });
            $('.clsIsShowColumn', this).attr({
                name: 'StaffOrderList[' + i + '].IsShowColumn',
                id: 'StaffOrderList_' + i + '_IsShowColumn',
            });
            $('.clslblOrderSeq', this).html(eval(i + 1));
            i++;
        });
            }

</script>