﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.StaffModel
@{
    ViewBag.Title = "Staff";
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-10">
                    <!--begin: Wizard Form-->
                    @using (Ajax.BeginForm("Index", "Staff", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                    {
                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                            @Html.HiddenFor(x => x.StaffId)
                            <!--end::Input-->
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Surname <span class="error_Validation">*</span></label>
                                        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control clstext reqfield", @placeholder = "Surname", @maxlength = "80", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation Surname"></span>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Forename <span class="error_Validation">*</span></label>
                                        @Html.TextBoxFor(x => x.Forename, new { @class = "form-control clstext reqfield", @placeholder = "Forename", @maxlength = "50", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation Forename"></span>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Title <span class="error_Validation">*</span></label>
                                        @Html.DropDownListFor(x => x.TitleId, ViewBag.TitleList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield clsTitle", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation TitleId"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Skill Set <span class="error_Validation">*</span></label>
                                        <select class="form-control select2 clsddl  clsSkillSet" id="SkillSet" name="SkillSet" multiple="multiple" disabled="disabled" onchange="SelectValueChosen(this, 'SkillSetIds', true)" style="width:100%">
                                            @foreach (var item in ViewBag.SkillSetList)
                                            {
                                                if (Model.SkillSetList != null && Model.SkillSetList.ToList().Contains(item.Value))
                                                {
                                                    <option selected value="@item.Value">@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                        <span class="form-text text-muted error_Validation SkillSetIds"></span>
                                        @Html.HiddenFor(x => x.SkillSetIds, new { @class = "form-control clstext reqfield" })
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label>Department <span class="error_Validation">*</span></label>
                                        <select class="form-control select2 clsddl  clsDepartment" id="Department" name="Department" disabled="disabled" multiple="multiple" onchange="SelectValueChosen(this, 'DepartmentIds', true)" style="width:100%">
                                            @foreach (var item in ViewBag.DepartmentList)
                                            {
                                                if (Model.DepartmentList != null && Model.DepartmentList.ToList().Contains(item.Value))
                                                {
                                                    <option selected value="@item.Value">@item.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            }
                                        </select>
                                        <span class="form-text text-muted error_Validation DepartmentIds"></span>
                                        @Html.HiddenFor(x => x.DepartmentIds, new { @class = "form-control clstext reqfield" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Extension</label>
                                        @Html.TextBoxFor(x => x.Extension, new { @class = "form-control clstext", @placeholder = "Extension", @maxlength = "50", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation Extension"></span>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Bleep</label>
                                        @Html.TextBoxFor(x => x.Bleep, new { @class = "form-control clstext", @placeholder = "Bleep", @maxlength = "50", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation Bleep"></span>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Pager</label>
                                        @Html.TextBoxFor(x => x.Pager, new { @class = "form-control clstext", @placeholder = "Pager", @maxlength = "50", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation Pager"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Home</label>
                                        @Html.TextBoxFor(x => x.Home, new { @class = "form-control clstext", @placeholder = "Home", @maxlength = "50", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation Home"></span>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Mobile</label>
                                        @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control clstext", @placeholder = "Mobile", @maxlength = "50", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation Mobile"></span>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control clstext regemail", @placeholder = "Email", @maxlength = "255", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation Email"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Alternate Extension</label>
                                        @Html.TextBoxFor(x => x.AltExtn, new { @class = "form-control clstext", @placeholder = "Alternate Extension", @maxlength = "150", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation AltExtn"></span>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Alternate Bleep</label>
                                        @Html.TextBoxFor(x => x.AltBleep, new { @class = "form-control clstext", @placeholder = "Alternate Bleep", @maxlength = "150", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation AltBleep"></span>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Alternate Pager</label>
                                        @Html.TextBoxFor(x => x.AltPager, new { @class = "form-control clstext", @placeholder = "Alternate Pager", @maxlength = "150", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation AltPager"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Alternate Mobile</label>
                                        @Html.TextBoxFor(x => x.AltMobile, new { @class = "form-control clstext", @placeholder = "Alternate Mobile", @maxlength = "150", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation AltMobile"></span>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Alternate Email</label>
                                        @Html.TextBoxFor(x => x.AltEmail, new { @class = "form-control clstext regemail", @placeholder = "Alternate Email", @maxlength = "150", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation AltEmail"></span>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Other Private</label>
                                        @Html.TextBoxFor(x => x.OtherPrivate, new { @class = "form-control clstext", @placeholder = "Other Private", @maxlength = "150", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation OtherPrivate"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="form-group">
                                        <label>Contact Order</label>
                                        @Html.TextBoxFor(x => x.ContactOrder, new { @class = "form-control clstext", @placeholder = "Contact Order", @maxlength = "255", @readonly = "readonly", @disabled = "disabled" })
                                        <span class="form-text text-muted error_Validation ContactOrder"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!--end: Wizard Form-->
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>

@Scripts.Render("~/script/wizard3")
<script>

    $(document).ready(function () {
        $(".clsTitle").select2();
        $(".clsTitle").val('@Model.Title');
        $(".clsSkillSet").select2({
            placeholder: ('Select Skill')
        });
        $(".clsDepartment").select2({
            placeholder: ('Select Department')
        });

    });
</script>
