﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.ErrorLogModel
@{
    ViewBag.Title = "Error Log";
}


<div class="card card-custom">
    <div class="card-body">
        <!--begin: Datatable-->
        <table class="table table-bordered table-hover table-checkable" id="tblList" style="margin-top: 13px !important">
            <thead>
                <tr>
                    <th></th>
                    <th>Error</th>
                    <th style="width:20%">User</th>
                    <th style="width:15%">Created On</th>
                    <th style="width:5%" class="class-no-short">Actions</th>
                </tr>
            </thead>
        </table>
        <!--end: Datatable-->
    </div>
</div>

<script>
       $(document).ready(function () {
        $("#tblList").DataTable({
              "scrollY": 350,
              "scrollX": true,
              "processing": false, // for show progress bar
              "searching": true,
            "serverSide": true, // for process server side
              "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "ajax": {
                "url": '@Url.Action("GetListJson","ErrorLog")',
                "type": "POST",
                "datatype": "json"
              },
              language: {
                  "info": "Showing _START_ to _END_ of _TOTAL_ results",
                  "lengthMenu": "_MENU_",
                  "loadingRecords": "Loading...",
                  "processing": "Processing...",
                  "search": "",
                  "searchPlaceholder": "Search records...",
                  "sEmptyTable": "No Data Found.",
                  "zeroRecords": "No Data Found."
              },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
              }],
              "order": [[0, "desc"]],
              "initComplete": function (settings, json) {
                  HideLoader();
                  $('.red-tooltip').tooltip();
              },
              "preDrawCallback": function (settings, json) {
                  if (!isSearch) {
                      ShowLoader();
                  } else {
                      isSearch = false;
                  }
            },
            "lengthMenu": [5,10, 25, 50, 100,500],
              "drawCallback": function (settings) {
                  HideLoader();
                  AddPaginLength("tblList");
                  $('.red-tooltip').tooltip();
              },
              "columns": [
                  { "data": "ErrorId", "name": "ErrorId", "autoWidth": true },
                  {
                      "data": "ErrorMsg", "name": "ErrorMsg", "autoWidth": true, "render": function (data, type, full, meta) {
                          var posit = full.ErrorMsg;
                          if (posit.length > 100) {
                              posit = posit.substring(0, 100) + "...";
                          }
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.ErrorMsg + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;margin-top:5px">' + posit + '</div></a>';

                          return action;
                      }
                  },
                  { "data": "FullName", "name": "FName", "autoWidth": true },
                  { "data": "Date", "name": "CreatedDate", "autoWidth": true },
                {
                    "orderable": false, "render": function (data, type, full, meta) {
                        var action = '<a   title="View"  class="nav-link ViewRec" href="javascript:void(0);" data-id="' + full.ErrorId + '"><i class="nav-icon la la-eye"></i></a>';
                        return action;
                    }
                }
            ]
        });
           AppendToolTipAfterSearch("tblList_filter");
    });
</script>