﻿@using System.Web.Optimization;
@using NHSC.Resources;
@model NHSC.Models.Entities.ErrorLogModel
@{
    ViewBag.Title = "Activity Log";
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-12">
                    <!--begin: Wizard Form-->
                    <!--begin: Wizard Step 1-->
                    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                        <!--begin::Input-->
                        <div class="row">
                            <div class="col-xl-12">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <h4>Error Message : </h4>
                                    <span>  @Model.ErrorMsg </span>

                                </div>
                                <!--end::Input-->
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.InnerException))
                        {
                            <div class="row">
                                <div class="col-xl-12">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <h4>Inner Message : </h4>
                                        <span>  @Model.InnerException </span>

                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                        }

                        <div class="row">
                            <div class="col-xl-4">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <h4>Controller : </h4>
                                    <span>  @Model.Controller </span>

                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-4">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <h4>Action : </h4>
                                    <span>  @Model.Controller </span>

                                </div>
                                <!--end::Input-->
                            </div>

                            <div class="col-xl-4">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <h4>Error Date: </h4>
                                    <span>  @Model.Date </span>

                                </div>
                                <!--end::Input-->
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xl-4">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <h4>User Name : </h4>
                                    <span>  @Model.FullName </span>

                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-4">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <h4>Email : </h4>
                                    <span>  @Model.Email </span>
                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-4">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <h4>User Group Number : </h4>
                                    <span>  @Model.UserGroupName </span>
                                </div>
                                <!--end::Input-->
                            </div>
                        </div>

                        <div class="row">
                            @if (Model.LineNumber > 0)
                            {
                                <div class="col-xl-4">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <h4>Line Number : </h4>
                                        <span>  @Model.LineNumber </span>

                                    </div>
                                    <!--end::Input-->
                                </div>
                            }
                        </div>
                        <!--end::Input-->
                    </div>
                    <!--end: Wizard Step 1-->
                    <!--end: Wizard Form-->
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>
@Scripts.Render("~/script/wizard3")
