﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.ErrorLogModel
@{
    ViewBag.Title = "Error Log";
}
@Scripts.Render("~/script/Validation")
<script>
      $(document).ready(function () {
          SetActiveMenu('@Convert.ToInt16(Menu.Log)'); 
          SetSubActiveMenu('@Convert.ToInt16(Menu.ErrorLog)');
      });

    $('body').on('click', '.ViewRec', function (event) {
        try {
            LoadView($(this).attr("data-id"));
        } catch (e) {
            console.log(e);
        }
    });
    $('body').on('click', '#BackDiv', function (event) {
    try {
        GetList();
    } catch (e) {
        console.log(e);
    }
    });
    function LoadView(Id) {
        LoginCheck();
        ShowLoader();
        var dataObject = JSON.stringify({
            "Id": Id,
        });
        var strUrl = '@Url.Action("GetView", "ErrorLog")';
        $.ajax({
            url: strUrl,
            type: 'POST',
            data: dataObject,
            async: true,
            contentType: 'application/json',
            success: function (result) {
                $("#divBodyData").html(result);
                ShowHideDiv(1);
            },
            complete: function () {
                HideLoader();
            },
            error: function (err) {
                console.log(err);

            }
        });
        return false;
    }
    function GetList() {
        LoginCheck();
        ShowLoader();
        var strUrl = '@Url.Action("GetList", "ErrorLog")';
        $.ajax({
            url: strUrl,
            type: 'POST',
            async: true,
            contentType: 'application/json',
            success: function (result) {
                $("#divBodyData").html(result);
                ShowHideDiv(0);
            },
            complete: function () {
                HideLoader();
            },
            error: function (err) {
                console.log(err);

            }
        });
        return false;
    }
    function ShowHideDiv(id) {
        //1=view Page
        if (id == 1) {
            $("#headerTitle").html('Error Log View');
            $("#BackDiv").removeClass("hidden");
        }
          //0=List page
        else
        {
            $("#headerTitle").html('Error Log List');
            $("#BackDiv").addClass("hidden");
        }
        }
</script>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5" id="headerTitle">Error Log List</h5>
                    <!--end::Page Title-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <a href="javascript:void(0)" class="btn btn-primary font-weight-bolder left-margin-15 hidden" id="BackDiv">
                    <span class="svg-icon svg-icon-md">
                        <i class="la la-backward"></i>
                        <!--end::Svg Icon-->
                    </span>Back
                </a>
            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid" id="divBodyData">
            @Html.Partial("_List")
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>



