﻿
.error_Validation {
    width: 100% !important;
    margin-top: .25rem !important;
    color: #fd397a !important;
    text-align: left !important;
}


.is-border-red {
    border-color: #fd397a !important;
}

.Red_border {
    border: 1px solid Red !important;
}


/*body, html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.menu-text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
*/

.kt-form {
    width: 92% !important;
    padding-top: 0px !important;
}

.disabled_div {
    pointer-events: none;
    opacity: 0.5;
    background: #CCC;
}

.clsCenteralign {
    text-align: center !important;
}

.left-margin-15 {
    margin-left: 15px;
}

.hidden {
    display: none !important;
}

.dataTables_filter .form-control-sm {
    width: 380px !important;
}

table.dataTable thead tr th {
    background: #663259 !important;
    color: white !important;
/*    font-weight: bold !important;*/
}

.dataTables_wrapper .dataTable td.sorting_asc, .dataTables_wrapper .dataTable th.sorting_asc {
    color: white !important;
}

.dataTables_wrapper .dataTable td.sorting_desc, .dataTables_wrapper .dataTable th.sorting_desc {
    color: white !important;
}

.card.card-custom {
    border: 1px solid !important;
}

.menu-active {
    transition: none;
    background-color: #f64e60 !important;
    border-radius: 3rem !important;
    /*    padding: 0.75rem 1.25rem !important;*/
    cursor: pointer;
    color: #ffffff !important;
}

    .menu-active .menu-text-active {
        font-size: 1.1rem !important;
/*        font-weight: bold !important;*/
        color: #ffffff !important;
    }


.menu-active .menu-subitem-active {
    transition: none;
    background-color: #F3F6F9 !important;
/*    padding: 0.75rem 1.25rem !important;*/
    cursor: pointer;
    color: #F64E60 !important;
}

    .menu-subitem-active .menu-subitem-text-active {
/*        font-size: 1.1rem !important;*/
        /*font-weight: bold !important;*/
        color: #F64E60 !important;
    }

.checkboxOrder {
    width: 46px;
    height: 20px;
    float: right;
}

.divColor {
    height: 17px;
    width: 32px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid black;
}

.bold-font {
    font-weight:bold !important;
}



.wrapper {
    background-color: #fff;
    border-radius: 1.25rem;
    padding-top: 10px;
    margin: 0 auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    max-width: 97% !important;
}


.clsInfoToolTip {
    font-size: 25px;
    margin-left: 7px;
}



@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}



/*@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-medium-webfont.woff') format('woff');
}*/

/*.header-menu .menu-nav > .menu-item .menu-submenu > .menu-subnav > .menu-item > .menu-link .menu-text {
    font-family: Poppins-regular,Helvetica,sans-serif !important
}*/

td.disabled.disabled-date.day {
    opacity: 0.2;
}
.remove_margin {
    margin-bottom: 0.50rem !important;
}

.remove_margin_p {
    margin-bottom: 0.0rem !important;
}