﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.MultidisciplinaryRotaModel
@{
    ViewBag.Title = "Multidisciplinary Rota";
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-10">
                    <!--begin: Wizard Form-->
                    @using (Ajax.BeginForm("Index", "MultidisciplinaryRota", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                    {
                    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                        @Html.HiddenFor(x => x.MultidisciplinaryId)
                        <!--end::Input-->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Multidisciplinary Rota Name <span class="error_Validation">*</span></label>
                                    @Html.TextBoxFor(x => x.MultidisciplinaryName, new { @class = "form-control clstext reqfield", @placeholder = "Multidisciplinary Rota Name", @maxlength = "500" })
                                    <span class="form-text text-muted error_Validation MultidisciplinaryName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label>User <span class="error_Validation">*</span></label>
                                    <select class="form-control select2 clsddl  clsUser" id="User" name="User" multiple="multiple" onchange="SelectValueChosen(this, 'UserIds', true)" style="width:100%">
                                        @foreach (var item in ViewBag.UserList)
                                        {
                                            if (Model.UserList != null && Model.UserList.ToList().Contains(item.Value))
                                            {
                                                <option selected value="@item.Value">@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                    <span class="form-text text-muted error_Validation UserIds"></span>
                                    @Html.HiddenFor(x => x.UserIds, new { @class = "form-control clstext reqfield" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label>Rota Template <span class="error_Validation">*</span></label>
                                    <select class="form-control select2 clsddl  clsRotaTemplate" id="RotaTemplateId" name="RotaTemplateId" multiple="multiple" onchange="SelectValueChosen(this, 'RotaTemplateIds', true)" style="width:100%">
                                        @foreach (var item in ViewBag.RotaTemplateList)
                                        {
                                            if (Model.RotaTemplateList != null && Model.RotaTemplateList.ToList().Contains(item.Value))
                                            {
                                                <option selected value="@item.Value">@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                    <span class="form-text text-muted error_Validation ShiftIds"></span>
                                    @Html.HiddenFor(x => x.RotaTemplateIds, new { @class = "form-control clstext reqfield" })
                                </div>
                            </div>

                        </div>

                    </div>
                        <div class="d-flex justify-content-between border-top mt-5 pt-10">
                            <div class="mr-2">
                            </div>
                            <div>
                                @if (Model.MultidisciplinaryId > 0)
                                {
                                    <button type="button" id="btnSubmit" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Update</button>
                                }
                                else
                                {
                                    <button type="button" id="btnSubmit" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Save</button>
                                }
                            </div>
                        </div>
                    }
                    <!--end: Wizard Form-->
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>

@Scripts.Render("~/script/wizard3")
<script>

    $(document).ready(function () {
        $("#MultidisciplinaryName").focus();

        $(".clsUser").select2({
            placeholder: ('Select User'),
            selectOnClose: true
        });
        $(".clsRotaTemplate").select2({
            placeholder: ('Select Rota Template'),
            selectOnClose: true
        });
        @*$(".clsRotaTemplate").select2({
            placeholder: 'Select Rota Template',
            allowClear: !0,
            selectOnClose: true,
            ajax: {
                url: "@Url.Action("GetRotaTemplate", "RotaTemplate")", dataType: "json", delay: 250,
                data: function (e) { return { SearchValue: e.term } },
                processResults: function (e, t) { return  1, { results: e } }, cache: !0
            },
            escapeMarkup: function (e) { return e }, minimumInputLength: 1,
            templateResult: function (e) { /*if (e.loading) return e.text;*/ var t = "<div class='select2-result-repository clearfix'><div class='select2-result-repository__meta'><div class='select2-result-repository__title'>" + e.text + "</div>"; return  t += "</div></div>" },
            templateSelection: function (e) { return e.text || e.text }
        });*@

    });
</script>
