﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.MultidisciplinaryRotaModel
@{
    ViewBag.Title = "Multidisciplinary Rota";
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-10">
                    <!--begin: Wizard Form-->
                    @using (Ajax.BeginForm("Index", "MultidisciplinaryRota", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                    {
                    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                        @Html.HiddenFor(x => x.MultidisciplinaryId)
                        <!--end::Input-->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Multidisciplinary Rota Name <span class="error_Validation">*</span></label>
                                    @Html.TextBoxFor(x => x.MultidisciplinaryName, new { @class = "form-control clstext reqfield", @placeholder = "Multidisciplinary Rota Name", @maxlength = "500", @disabled = "disabled", @readonly = "readonly" })
                                    <span class="form-text text-muted error_Validation MultidisciplinaryName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label>User <span class="error_Validation">*</span></label>
                                    <select class="form-control select2 clsddl  clsUser" disabled="disabled" id="User" name="User" multiple="multiple" onchange="SelectValueChosen(this, 'UserIds', true)" style="width:100%">
                                        @foreach (var item in ViewBag.UserList)
                                        {
                                            if (Model.UserList != null && Model.UserList.ToList().Contains(item.Value))
                                            {
                                                <option selected value="@item.Value">@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                    <span class="form-text text-muted error_Validation UserIds"></span>
                                    @Html.HiddenFor(x => x.UserIds, new { @class = "form-control clstext reqfield" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="form-group">
                                    <label>Rota Template <span class="error_Validation">*</span></label>
                                    <select class="form-control select2 clsddl  clsRotaTemplate" disabled="disabled" id="RotaTemplateId" name="RotaTemplateId" multiple="multiple" onchange="SelectValueChosen(this, 'RotaTemplateIds', true)" style="width:100%">
                                        @foreach (var item in ViewBag.RotaTemplateList)
                                        {
                                            if (Model.RotaTemplateList != null && Model.RotaTemplateList.ToList().Contains(item.Value))
                                            {
                                                <option selected value="@item.Value">@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                    <span class="form-text text-muted error_Validation ShiftIds"></span>
                                    @Html.HiddenFor(x => x.RotaTemplateIds, new { @class = "form-control clstext reqfield" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Created Date </label>
                                    @Html.TextBoxFor(x => x.Date, new { @class = "form-control clstext reqfield", @placeholder = "", @disabled = "disabled", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    <!--end: Wizard Form-->
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>

@Scripts.Render("~/script/wizard3")
<script>

    $(document).ready(function () {

        $(".clsUser").select2({
            placeholder: ('Select User'),
            selectOnClose: true
        });
        $(".clsRotaTemplate").select2({
            placeholder: ('Select Rota Template'),
            selectOnClose: true
        });
    });
</script>
