﻿@using System.Web.Optimization;
@using NHSC.Resources;
@model NHSC.Models.Entities.ActivityLogModel
@{
    ViewBag.Title = Resource.TitleActivityLog;
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-12">
                    <!--begin: Wizard Form-->
                    <!--begin: Wizard Step 1-->
                    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                        <!--begin::Input-->
                        <div class="row">
                            <div class="col-xl-12">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <h4>@Resource.lblActivityMessage : </h4>
                                    <span>@Html.Raw(Model.ActivityLog) </span>

                                </div>
                                <!--end::Input-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <h4>@Resource.lblUserName : </h4>
                                    <span>  @Model.FullName </span>

                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-4">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <h4>@Resource.lblEmail : </h4>
                                    <span>  @Model.Email </span>
                                </div>
                                <!--end::Input-->
                            </div>
                            <div class="col-xl-4">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <h4>@Resource.lblUserGroupName : </h4>
                                    <span>  @Model.UserGroupName </span>
                                </div>
                                <!--end::Input-->
                            </div>
                        </div>

                        <div class="row">
                            @if (!string.IsNullOrEmpty(Model.MenuName))
                            {
                                <div class="col-xl-4">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <h4>@Resource.lblMenu : </h4>
                                        <span>  @Model.MenuName </span>

                                    </div>
                                    <!--end::Input-->
                                </div>
                            }
                            <div class="col-xl-4">
                                <!--begin::Input-->
                                <div class="form-group">
                                    <h4>@Resource.lblActivityDate: </h4>
                                    <span>  @Model.Date </span>

                                </div>
                                <!--end::Input-->
                            </div>

                        </div>
                        <!--end::Input-->
                    </div>
                    <!--end: Wizard Step 1-->
                    <!--end: Wizard Form-->
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>
@Scripts.Render("~/script/wizard3")
