﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.OnCallMultidisciplinaryModel
@{
    ViewBag.Title = "On Call Multidisciplinary";
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-12">
                    @if (Model.OnCallMultidisciplinaryList == null || Model.OnCallMultidisciplinaryList.Count == 0)
                    {
                        <h1 style="text-align:center">No Data Found..</h1>
                    }
                    else
                    {
                        <!--begin: Wizard Form-->
                        using (Ajax.BeginForm("Index", "OnCallMultidisciplinary", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                        {
                            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">


                                <div>
                                    <table class="table table-bordered table-hover table-checkable">
                                        <thead>
                                            <tr>
                                                <th>Slot Name</th>
                                                <th>Shift</th>
                                                <th>Department</th>
                                                <th>Person</th>
                                                <th>Contact Number</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.OnCallMultidisciplinaryList)
                                            {
                                                <tr>
                                                    <td>@item.MultidisciplinaryName</td>
                                                    <td>@item.ShiftName</td>
                                                    <td>@item.DepartmentName</td>
                                                    <td>@item.Person</td>
                                                    <td>@item.ContactNumber</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        }
                        <!--end: Wizard Form-->
                    }
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>

@*@Scripts.Render("~/script/wizard3")*@
<script>
    $(document).ready(function () {

        @*$(".clsLoadTime").html('@Model.OnCallFullDates');
        clearInterval();
        SetIntervel();*@
    });
</script>