﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.OnCallMultidisciplinaryModel
@{
    ViewBag.Title = "On Call Multidisciplinary";
}
@Scripts.Render("~/script/Validation")
<script>

        $(document).ready(function () {
            SetActiveMenu('@Convert.ToInt16(Menu.Dashboard)');
           SetSubActiveMenu('@Convert.ToInt16(Menu.OnCallMultidisciplinar)');
        });

    //$('body').on('click', '.EditRec', function (event) {
    //    try {
    //        clearInterval();
    //    LoadStaffChangePopup($(this).attr("data-tempid"), $(this).attr("data-assignid"), $(this).attr("data-staffid"));
    //} catch (e) {
    //    console.log(e);
    //}
    //});

    //$('body').on('click', '#btnSearch', function (event) {
    //    try {
    //        LoadForm();
    //    } catch (e) {
    //        console.log(e);
    //    }
    //});


   @*function LoadStaffChangePopup(tempid, assignid, staffid) {
        LoginCheck();
        ShowLoader();
        var dataObject = JSON.stringify({
            "tempid": tempid,
            "assignid": assignid,
            "staffid": staffid,
        });
        var strUrl = '@Url.Action("LoadStaffPopup", "MultidisciplinaryActualRotaTemplate")';
        $.ajax({
            url: strUrl,
            type: 'POST',
            data: dataObject,
            async: true,
            contentType: 'application/json',
            success: function (result) {
                $("#divPopup").html(result);
                $("#divStaffPopup").modal();

            },
            complete: function () {
                HideLoader();
            },
            error: function (err) {
                console.log(err);

            }
        });
        return false;
    }*@

    function LoadForm() {
        LoginCheck();
        ShowLoader();
        var dataObject = JSON.stringify({
            "Date": $("#OnCallDate").val(),
            "Department": $("#DepartmentIds").val(),
            "Sites": $("#SiteIds").val(),
        });
        var strUrl = '@Url.Action("GetForm", "OnCallMultidisciplinary")';
        $.ajax({
            url: strUrl,
            type: 'POST',
            data: dataObject,
            async: true,
            contentType: 'application/json',
            success: function (result) {
                $("#divBodyData").html(result);
            },
            complete: function () {
                HideLoader();
            },
            error: function (err) {
                console.log(err);

            }
        });
        return false;
    }
</script>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1" style="width:100%">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5" style="width:100%">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5" style="width:70%" id="headerTitle">On Call Multidisciplinary</h5>
                    @*<h5 class="text-dark font-weight-bold my-1 mr-5" id="headerTitle">Page Loaded at <span class="clsLoadTime">@Model.OnCallFullDates</span></h5>*@
                    <!--end::Page Title-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">

            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <div class="col-xl-12 col-xxl-12">

            @*<div class="row">
                    <div class="col-xl-2">
                        <div class="form-group">
                            <label>Date <span class="error_Validation">*</span></label>
                            @Html.TextBoxFor(x => x.OnCallDate, "{0:dd-MM-yyyy}", new { @id = "OnCallDate", @readonly = "readonly", @class = "form-control reqfield clsDate", @style = "height:43px", @placeholder = "Date", @type = "text" })
                            @Html.HiddenFor(x => x.OnCallDates)
                            <span class="form-text text-muted error_Validation OnCallDate"></span>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Department <span class="error_Validation">*</span></label>
                            <select class="form-control select2 clsddl  clsDepartment" id="Departmen" name="Departmen" multiple="multiple" onchange="SelectValueChosen(this, 'DepartmentIds', true)" style="width:100%">
                                @foreach (var item in ViewBag.DepartmentList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                            <span class="form-text text-muted error_Validation ShiftIds"></span>
                            @Html.HiddenFor(x => x.DepartmentIds, new { @class = "form-control clstext" })
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label>Site</label>
                            <select class="form-control select2 clsddl  clsSite" id="Site" name="Site" multiple="multiple" onchange="SelectValueChosen(this, 'SiteIds', true)" style="width:100%">
                                @foreach (var item in ViewBag.SiteList)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                            <span class="form-text text-muted error_Validation SiteIds"></span>
                            @Html.HiddenFor(x => x.SiteIds, new { @class = "form-control clstext" })
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <button type="button" id="btnSearch" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4" style=" margin-top: 16px;">Search</button>
                        </div>
                    </div>
                </div>*@

            <div class="container-fluid" id="divBodyData">
                @Html.Partial("_Form")
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
</div>
<div id="divPopup"></div>
<script>
    $(document).ready(function () {
        //$(".clsSite").select2({
        //    placeholder: ('Select Site'),
        //    selectOnClose: true
        //});
        //$(".clsDepartment").select2({
        //    placeholder: ('Select Department'),
        //    selectOnClose: true
        //});

        //var date = $("#OnCallDate").datepicker({
        //    minView: 1,
        //    format: "dd-mm-yy",
        //    //startDate: new Date,
        //    defaultViewDate: new Date(),
        //    autoclose: true,
        //    todayHighlight: !0,
        //    pickerPosition: "bottom-left",
        //});
        //$("#OnCallDate").focus();

        //$("#Site").focus();
        //date.datepicker("hide");
        //clearInterval();


    });

    //function SetIntervel() {
    //    setInterval(function () { $("#btnSearch").click(); }, 60000);
    //}
</script>