﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.ChangePassword
@{
    ViewBag.Title = Resource.forgottitle;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>
    a:hover {
        background: #ffe4f9 !important;
        color: #663259 !important;
        border-color: transparent !important;
    }
</style>

<script>
    $(document).ready(function () {
        HideLoader();
    });

    $('body').on('click', '#btnSubmit', function (event) {
        try {
            if (!BindSpclValidationEventClick("#kt_login_forgot_form")) {
                return false;
            }
            else if ($("#Password").val() != $("#ConfirmPassword").val()) {
                $(".ConfirmPassword").html("Password and confirm password not matched.");
                return false;
            }
            else {
                ShowLoader();
                var data = $("#kt_login_forgot_form").serialize();
                var strUrl = '@Url.Action("ChangePassword", "LogIn")';
                $.ajax({
                    url: strUrl,
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        if (result != undefined && result.statusCode == 1) {
                            ShowMessageBox(1, result.msg);
                            $(".divForgotPassword").html("");
                            $(".clsSuccessMsg").removeClass("hidden");
                        } else {
                            ShowMessageBox(0, result.msg);
                        }
                    },
                    complete: function () {
                        HideLoader();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
        } catch (e) {
            console.log(e);
        }
    });
</script>

<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
        <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url('@CommonFunctions.BaseURL/assets/media/bg/bg-3.jpg');">
            <div class="login-form text-center p-7 position-relative overflow-hidden">
                <!--begin::Login Header-->
                <div class="d-flex flex-center mb-15">
                    <a href="#">
                        <img src="~/assets/media/logos/logo-letter-13.png" class="max-h-75px" alt="" />
                    </a>
                </div>
                <!--end::Login Header-->
                <div class="alert alert-success alert-dismissible hidden clsSuccessMsg" role="alert">
                    <div class="alert-text">Successfully reset you passwrd &nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index","LogIn")">Back to LogIn</a></div>
                </div>
                <!--begin::Login forgot password form-->
                <div class="divForgotPassword">
                    <div class="mb-10">
                        <h3>Reset Password </h3>
                        <div class="text-muted font-weight-bold">Enter your details to reset your password</div>
                    </div>
                    @using (Ajax.BeginForm("ChangePassword", "LogIn", new AjaxOptions { HttpMethod = "POST" }, new { @novalidate = "novalidate", @id = "kt_login_forgot_form", @class = "form ", @autocomplete = "off" }))
                    {
                        @Html.HiddenFor(x => x.ForgotId)
                        @Html.HiddenFor(x => x.UserId)
                        @Html.HiddenFor(x => x.Email)
                        <div class="form-group mb-10">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-control-solid h-auto py-4 px-8 reqfield regemail", @placeholder = "Enter email here", @maxlength = "255", @disabled = "disabled", @readonly = "readonly" })
                            <div id="" class="error_Validation Email"></div>
                        </div>
                        <div class="form-group mb-10">
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control form-control-solid h-auto py-4 px-8 reqfield validpassword", @placeholder = "Enter password", @maxlength = "20", @type = "password" })
                            <div id="" class="error_Validation Password"></div>
                        </div>
                        <div class="form-group mb-10">
                            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control form-control-solid h-auto py-4 px-8 reqfield validpassword", @placeholder = "Enter confirm password", @maxlength = "20", @type = "password" })
                            <div id="" class="error_Validation ConfirmPassword"></div>
                        </div>
                        <div class="form-group d-flex flex-wrap flex-center mt-10">
                            <button id="btnSubmit" type="button" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">Submit</button>
                            <a href="@Url.Action("Index", "LogIn")" class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-2" style="margin-top:10px;">@Resource.btnCancel</a>
                        </div>
                    }
                </div>
                <!--end::Login forgot password form-->
            </div>
        </div>
    </div>
    <!--end::Login-->
</div>
<!--end::Main-->