﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.LogInModel
@{
    ViewBag.Title = Resource.logintitle;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<script>

    function Validation() {
        try {
            if (!BindSpclValidationEventClick('#frmLogin')) {
                return false;
            }
            //ShowLoader();
        } catch (e) {
            console.error(e);
        }
    }
</script>
<style>
    .alert.alert-custom {
        padding: .75rem 1.25rem !important;
    }
</style>
<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
        <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url('@CommonFunctions.BaseURL/assets/media/bg/bg-3.jpg');">
            <div class="login-form text-center p-7 position-relative overflow-hidden">
                <!--begin::Login Header-->
                <div class="d-flex flex-center mb-15">
                    <a href="#">
                        <img src="~/assets/media/img/logo.jpg" class="max-h-75px" alt="" />
                    </a>
                </div>
                <!--end::Login Header-->
                <!--begin::Login Sign in form-->
                <div class="login-signin">
                    <div class="mb-10">
                        <h3>@Resource.logintitle1</h3>
                        <div class="text-muted font-weight-bold">@Resource.logintitle2:</div>
                    </div>
                    @using (Html.BeginForm("Index", "LogIn", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "frmLogin" }))
                    {
                        @*<form class="form" id="kt_login_signin_form">*@
                        if (!ViewBag.IsValid)
                        {
                            <div class="alert alert-custom alert-danger fade show mb-5" role="alert">
                                <div class="alert-icon">
                                    <i class="flaticon-warning"></i>
                                </div>
                                <div class="alert-text">@ViewBag.ErrorSuccesssMsg</div>
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">
                                            <i class="ki ki-close"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        }
                        <div class="form-group mb-5">
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control h-auto form-control-solid py-4 px-8 reqfield regemail", @placeholder = Resource.lblEmail, @autocomplete = "off", @maxlength = "255" })
                            <div id="" class="error_Validation UserName"></div>
                        </div>
                        <div class="form-group mb-5">
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control h-auto form-control-solid py-4 px-8 clstext reqfield", @placeholder = Resource.lblPassword, @type = "password", @autocomplete = "off", @maxlength = "255" })
                            <div id="" class="error_Validation Password"></div>
                        </div>
                        <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                            <div class="checkbox-inline">
                                <label class="checkbox m-0 text-muted">
                                    @Html.CheckBoxFor(x => x.KeepMeLogin)
                                    <span></span>@Resource.lblRememberme
                                </label>
                            </div>
                            <a href="@Url.Action("ForgotPassword", "LogIn")" id="kt_login_forgot" class="text-muted text-hover-primary">@Resource.btnForgetPassword</a>
                        </div>
                        <button type="submit" id="kt_login_signin_submit" onclick="return Validation();" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">@Resource.btnSignIn</button>

                    }
                </div>
                <!--end::Login Sign in form-->
            </div>
        </div>
    </div>
    <!--end::Login-->
</div>
<!--end::Main-->