﻿@using System.Web.Optimization;
@using NHSC.Resources;
@model NHSC.Models.Entities.UserGroupModel
@{
    ViewBag.Title = Resource.usergrouptitle;
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Nav-->
            <div class="wizard-nav">
                <div class="wizard-steps px-8 py-8 px-lg-15 py-lg-3">
                    <!--begin::Wizard Step 1 Nav-->
                    <div class="wizard-step" data-wizard-type="step" onclick=" HideShowSubmit(0);" id="UserGroupTab" data-wizard-state="current">
                        <div class="wizard-label">
                            <h3 class="wizard-title">
                                <span>1.</span>User Group
                            </h3>
                            <div class="wizard-bar"></div>
                        </div>
                    </div>
                    <!--end::Wizard Step 1 Nav-->
                    <!--begin::Wizard Step 2 Nav-->
                    <div class="wizard-step" onclick=" HideShowSubmit(1);" data-wizard-type="step">
                        <div class="wizard-label">
                            <h3 class="wizard-title">
                                <span>2.</span>Permission
                            </h3>
                            <div class="wizard-bar"></div>
                        </div>
                    </div>
                    <!--end::Wizard Step 2 Nav-->
                </div>
            </div>
            <!--end: Wizard Nav-->
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-12">
                    <!--begin: Wizard Form-->
                    @using (Ajax.BeginForm("Index", "UserGroup", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "kt-form m-0 p-0", @autocomplete = "off" }))
                    {
                        @Html.HiddenFor(x => x.UserGroupId)
                        <!--begin: Wizard Step 1-->
                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                            <!--begin::Input-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>User Group Name <span class="error_Validation">*</span></label>
                                        @Html.TextBoxFor(x => x.UserGroupName, new { @class = "form-control clstext reqfield", @placeholder = "User Group Name", @maxlength = "255" })
                                        <span class="form-text text-muted error_Validation UserGroupName"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label>Is Department Admin </label>
                                        <div class="checkbox-inline">
                                            <label class="checkbox checkbox-lg">
                                                @Html.CheckBoxFor(x => x.IsDepartmentAdmin)
                                                <span></span>
                                            </label>
                                        </div>

                                        <span class="form-text text-muted error_Validation IsDepartmentAdmin"></span>
                                    </div>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <!--end::Input-->
                        </div>
                        <!--end: Wizard Step 1-->
                        <!--begin: Wizard Step 2-->
                        <div class="pb-5" data-wizard-type="step-content" id="DivRights">
                            @Html.Partial("_Rights")
                        </div>
                        <!--end: Wizard Step 2-->
                        <!--begin: Wizard Actions-->
                        <div class="d-flex justify-content-between border-top mt-5 pt-10">
                            <div class="mr-2">
                                <button type="button" class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4" onclick="HideShowSubmit(0)" data-wizard-type="action-prev">Previous</button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4 hidden" id="btnSubmit">Submit</button>
                                <button type="button" class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4" onclick="HideShowSubmit(1)" data-wizard-type="action-next">Next</button>
                            </div>
                        </div>
                        <!--end: Wizard Actions-->
                    }
                    <!--end: Wizard Form-->
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>
@Scripts.Render("~/script/wizard3")
<script>
    $(document).ready(function () {
        $("#UserGroupName").focus();
    });
</script>