﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@model NHSC.Models.Entities.UserGroupModel
@{
    ViewBag.Title = Resource.usergrouptitle;
}
<style>
    .kt-checkbox {
        margin-top: 0px !important;
    }

    .table td, .table th {
        padding: 0.55rem 0.75rem !important;
    }
</style>
<div class="kt-form__section kt-form__section--first">
    @Html.HiddenFor(x => x.IsChange)
    <table class="table table-striped-  table-hover table-checkable text-left" id="tblList" style="margin-bottom:0px !important">
        <thead style="border-radius: 6px;background-color: #fafbfc;">
            <tr>
                <th class="header_align">Menu</th>

                <th class="header_align">
                    <label class="kt-checkbox" style="color:#718096 !important;font-weight:500 !important">
                        <input type="checkbox" class="clsAddAll clsCheckBox"> Add
                        <span></span>
                    </label>
                </th>
                <th class="header_align">

                    <label class="kt-checkbox" style="color:#718096 !important;font-weight:500 !important">
                        <input type="checkbox" class="clsEditAll clsCheckBox"> Edit
                        <span></span>
                    </label>
                </th>
                <th class="header_align">

                    <label class="kt-checkbox" style="color:#718096 !important;font-weight:500 !important">
                        <input type="checkbox" class="clsDeleteAll clsCheckBox"> Delete
                        <span></span>
                    </label>
                </th>
                @*<th class="header_align">
                        <label class="kt-checkbox" style="color:#718096 !important;font-weight:500 !important">
                            <input type="checkbox" class="clsPrAll clsCheckBox"> Pr
                            <span></span>
                        </label>
                    </th>*@
                <th class="header_align">

                    <label class="kt-checkbox" style="color:#718096 !important;font-weight:500 !important">
                        <input type="checkbox" class="clsViewAll clsCheckBox"> View Menu
                        <span></span>
                    </label>
                </th>
                <th class="header_align">
                    <label class="kt-checkbox" style="color:#718096 !important;font-weight:500 !important">
                        <input type="checkbox" class="clsShowAll clsCheckBox"> Show All Data
                        <span></span>
                    </label>
                </th>
                <th class="header_align">
                    <label class="kt-checkbox" style="color:#718096 !important;font-weight:500 !important">
                        <input type="checkbox" class="clsSelectAll "> All
                        <span></span>
                    </label>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.RightsList != null)
            {
                int i = 0;
                string Class = "";
                foreach (var item in Model.RightsList.Where(x => x.ParentId == 0))
                {
                    if (Model.RightsList.Where(x => x.ParentId == item.MenuId).Count() > 0)
                    {
                        Class = "hidden";
                        if (!string.IsNullOrEmpty(item.Action))
                        {
                            Class = "";
                        }
                        <tr>
                            <td style="font-weight:bold">@item.MenuName </td>
                            <td>
                                @Html.Hidden("RightsList[" + i + "].RightId", item.RightId, new { @id = "RightsList_" + i + "_RightId" })
                                @Html.Hidden("RightsList[" + i + "].MenuId", item.MenuId, new { @id = "RightsList_" + i + "_MenuId" })
                                <label class="kt-checkbox @Class">
                                    @Html.CheckBox("RightsList[" + i + "].Add", item.Add, new { @id = "RightsList_" + i + "_Add", @class = "clsChange clsCheckBox clsAdd clsAdd_" + i + "" })
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <label class="kt-checkbox @Class">
                                    @Html.CheckBox("RightsList[" + i + "].Edit", item.Edit, new { @id = "RightsList_" + i + "_Edit", @class = "clsChange clsCheckBox clsEdit clsEdit_" + i + "" })
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <label class="kt-checkbox @Class">
                                    @Html.CheckBox("RightsList[" + i + "].Delete", item.Delete, new { @id = "RightsList_" + i + "_Delete", @class = "clsChange clsCheckBox clsDelete clsDelete_" + i + "" })
                                    <span></span>
                                </label>
                            </td>
                            @*<td>
                                    <label class="kt-checkbox @Class">
                                        @Html.CheckBox("RightsList[" + i + "].Pr", item.Print, new { @id = "RightsList_" + i + "_Pr", @class = "clsChange clsCheckBox clsPr clsPr_" + i + "" })
                                        <span></span>
                                    </label>
                                </td>*@
                            <td>
                                <label class="kt-checkbox @Class">
                                    @Html.CheckBox("RightsList[" + i + "].View", item.View, new { @id = "RightsList_" + i + "_View", @class = "clsChange clsCheckBox clsView clsView_" + i + "" })
                                    <span></span>
                                </label>
                            </td>

                            <td>

                                <label class="kt-checkbox @Class">
                                    @Html.CheckBox("RightsList[" + i + "].IsShowAll", item.IsShowAll, new { @id = "RightsList_" + i + "_IsShowAll", @class = "clsChange clsCheckBox clsShow clsShow_" + i + "" })
                                    <span></span>
                                </label>

                            </td>
                            <td>
                                <label class="kt-checkbox @Class">
                                    <input type="checkbox" class="clsSelectAllRow clsCheckBox clsAddRow clsAddRow_@i" data-id="@i">
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td style="font-weight:bold">@item.MenuName </td>
                            <td>
                                @Html.Hidden("RightsList[" + i + "].RightId", item.RightId, new { @id = "RightsList_" + i + "_RightId" })
                                @Html.Hidden("RightsList[" + i + "].MenuId", item.MenuId, new { @id = "RightsList_" + i + "_MenuId" })
                                <label class="kt-checkbox @Class">
                                    @Html.CheckBox("RightsList[" + i + "].Add", item.Add, new { @id = "RightsList_" + i + "_Add", @class = "clsAdd clsAdd_" + i + " clsCheckBox clsChange" })
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <label class="kt-checkbox @Class">
                                    @Html.CheckBox("RightsList[" + i + "].Edit", item.Edit, new { @id = "RightsList_" + i + "_Edit", @class = "clsEdit clsEdit_" + i + " clsCheckBox clsChange" })
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <label class="kt-checkbox @Class">
                                    @Html.CheckBox("RightsList[" + i + "].Delete", item.Delete, new { @id = "RightsList_" + i + "_Delete", @class = "clsDelete clsDelete_" + i + " clsCheckBox clsChange" })
                                    <span></span>
                                </label>
                            </td>
                            @*<td>
                                    <label class="kt-checkbox @Class">
                                        @Html.CheckBox("RightsList[" + i + "].Pr", item.Print, new { @id = "RightsList_" + i + "_Pr", @class = "clsPr clsPr_" + i + " clsCheckBox clsChange" })
                                        <span></span>
                                    </label>
                                </td>*@
                            <td>
                                <label class="kt-checkbox @Class">
                                    @Html.CheckBox("RightsList[" + i + "].View", item.View, new { @id = "RightsList_" + i + "_View", @class = "clsView clsView_" + i + " clsCheckBox clsChange" })
                                    <span></span>
                                </label>
                            </td>
                            <td>

                                <label class="kt-checkbox @Class">
                                    @Html.CheckBox("RightsList[" + i + "].IsShowAll", item.IsShowAll, new { @id = "RightsList_" + i + "_IsShowAll", @class = "clsShow clsShow_" + i + " clsCheckBox clsChange" })
                                    <span></span>
                                </label>

                            </td>
                            <td>
                                <label class="kt-checkbox @Class">
                                    <input type="checkbox" class="clsSelectAllRow clsAddRow  clsCheckBox clsAddRow_@i" data-id="@i">
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                    }
                    i++;

                    foreach (var submenu in Model.RightsList.Where(x => x.ParentId == item.MenuId))
                    {
                        <tr>
                            <td style="text-align:right">@submenu.MenuName </td>
                            <td>
                                @Html.Hidden("RightsList[" + i + "].RightId", submenu.RightId, new { @id = "RightsList_" + i + "_RightId" })
                                @Html.Hidden("RightsList[" + i + "].MenuId", submenu.MenuId, new { @id = "RightsList_" + i + "_MenuId" })
                                <label class="kt-checkbox">
                                    @Html.CheckBox("RightsList[" + i + "].Add", submenu.Add, new { @id = "RightsList_" + i + "_Add", @class = "clsAdd clsAdd_" + i + " clsCheckBox clsChange" })
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <label class="kt-checkbox">
                                    @Html.CheckBox("RightsList[" + i + "].Edit", submenu.Edit, new { @id = "RightsList_" + i + "_Edit", @class = "clsEdit clsEdit_" + i + " clsCheckBox clsChange" })
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <label class="kt-checkbox">
                                    @Html.CheckBox("RightsList[" + i + "].Delete", submenu.Delete, new { @id = "RightsList_" + i + "_Delete", @class = "clsDelete clsDelete_" + i + " clsCheckBox clsChange" })
                                    <span></span>
                                </label>
                            </td>
                            @*<td>
                                    <label class="kt-checkbox">
                                        @Html.CheckBox("RightsList[" + i + "].Pr", submenu.PrintPr, new { @id = "RightsList_" + i + "_Pr", @class = "clsPr clsPr_" + i + " clsCheckBox clsChange" })
                                        <span></span>
                                    </label>
                                </td>*@
                            <td>
                                <label class="kt-checkbox">
                                    @Html.CheckBox("RightsList[" + i + "].View", submenu.View, new { @id = "RightsList_" + i + "_View", @class = "clsView clsView_" + i + " clsCheckBox clsChange" })
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <label class="kt-checkbox">
                                    @Html.CheckBox("RightsList[" + i + "].IsShowAll", submenu.IsShowAll, new { @id = "RightsList_" + i + "_IsShowAll", @class = "clsShow clsShow_" + i + " clsCheckBox clsChange" })
                                    <span></span>
                                </label>

                            </td>
                            <td>
                                <label class="kt-checkbox">
                                    <input type="checkbox" class="clsSelectAllRow clsAddRow clsCheckBox clsAddRow_@i" data-id="@i">
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                        i++;
                    }
                }
            }
        </tbody>
    </table>
</div>