﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.ActualRotaModel
@{
    ViewBag.Title = "Multidisciplinary Actual Rota Template";
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-12">
                    @if (Model.RotaList == null || Model.RotaList.Count == 0)
                    {
                        <h1 style="text-align:center">No Data Found..</h1>
                    }
                    else
                    {
                        <!--begin: Wizard Form-->
                        using (Ajax.BeginForm("Index", "MultidisciplinaryActualRotaTemplate", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                        {
                            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                @if (Model.RotaList != null && Model.RotaList.Count > 0)
                                {
                                    foreach (var roat in Model.RotaList)
                                    {
                                        <div>
                                            <h1>@roat.RotaTemplateName</h1>
                                            <table class="table table-bordered table-hover table-checkable">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        @foreach (var shift in roat.ShiftList)
                                                        {
                                                            <th>
                                                                @shift.ShiftName  <br /> @shift.StartTime<span>-</span>
                                                                @(shift.EndTime== "23:59" ? "24:00" : shift.EndTime)
                                                            </th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var day in roat.DaysList)
                                                    {
                                                        <tr>
                                                            <td>@day.RotaDate</td>
                                                            @foreach (var shifyday in day.DayWiseShiftList)
                                                            {

                                                                <td style="background-color: @(!string.IsNullOrEmpty(shifyday.HolidayName) ? "#ff91a4" : shifyday.ColorName) ">
                                                                    <a href="javascript:void(0)" class="@(roat.IsAllowEdit?"EditRec" : "") clsRota_@shifyday.ActualRotaId" data-tempid="@shifyday.RotaTemplateId" data-assignid="@shifyday.ActualRotaId" data-staffid="@shifyday.StaffId">
                                                                        @if (shifyday.IsSplit)
                                                                        {
                                                                        <span class="Staff_@shifyday.ActualRotaId">
                                                                            @(string.IsNullOrEmpty(shifyday.StaffName) ? "N/A" : shifyday.StaffName) (@shifyday.StartTime - @(shifyday.EndTime== "23:59" ? "24:00" : shifyday.EndTime))
                                                                            <br />
                                                                            @(string.IsNullOrEmpty(shifyday.SplitStaffName) ? "N/A" : shifyday.SplitStaffName)(@shifyday.SplitStartTime - @(shifyday.SplitEndTime == "23:59" ? "24:00" : shifyday.SplitEndTime))
                                                                        </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="Staff_@shifyday.ActualRotaId">  @(string.IsNullOrEmpty(shifyday.StaffName) ? "N/A" : shifyday.StaffName) </span>

                                                                        }
                                                                    </a>
                                                                </td>
                                                            }
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                }
                            </div>
                        }
                        <!--end: Wizard Form-->
                    }
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>

@*@Scripts.Render("~/script/wizard3")*@
<script>
    $(document).ready(function () {


    });
</script>