﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.RotaTemplateModel
@{
    ViewBag.Title = "Date PopUp";
}
<!--begin::Modal-->
<div class="modal fade" id="GenerateDatePopUP" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content" style="width:75% !important">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Generate Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form class="form" id="frmStaff">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-xl-12 ">
                            <div class="form-group">
                                <label>Generate Up To Date <span class="error_Validation">*</span></label>
                                @Html.HiddenFor(x => x.RotaTemplateId)
                                @Html.HiddenFor(x => x.StartDayOfWeek)
                                @Html.TextBoxFor(x => x.GeneratedUpToDate, "{0:dd-MM-yyyy}", new {  @readonly = "readonly", @class = "form-control clsDate", @placeholder = "Generate Up To Date", @type = "text", @style = "width:100%" })
                                @Html.TextBoxFor(x => x.RotaTemplateName, new { @class = "hidden" })
                                @Html.HiddenFor(x => x.GeneratedUpToDates)
                                <span class="form-text text-muted error_Validation">Note: You can select only @Model.StartDayOfWeekName</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-primary mr-2" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" id="btnGenActulRota">Generate</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Modal-->
<script>
    $(document).ready(function () {
        var date = $("#GeneratedUpToDate").datepicker({
            minView: 1,
            format: "dd-mm-yy",
            startDate: $("#GeneratedUpToDate").val(),
            defaultViewDate: new Date(),
            autoclose: true,
            todayHighlight: !0,
            pickerPosition: "bottom-left",
            daysOfWeekDisabled: '@Model.WeekDays'
        });

        $("#GeneratedUpToDate").focus();

        date.datepicker("show");
        date.datepicker("hide");
       
    });
</script>