﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.RotaTemplateModel
@{
    ViewBag.Title = "Rota Template";
}

<div class="card card-custom">
    <div class="card-body">
        <!--begin: Datatable-->
        <table class="table table-bordered table-hover table-checkable" id="tblList" style="margin-top: 13px !important">
            <thead>
                <tr>
                    <th></th>
                    <th style="width:20%">Template Name</th>
                    <th style="width:13%">Site</th>
                    <th style="width:12%">Department</th>
                    <th style="width:9%">Start Week</th>
                    <th style="width:6%">Duration</th>
                    <th style="width:20%">Shift Name</th>
                    @*<th style="width:17%">User Name</th>*@
                    <th style="width:15%">Generated Up To Date</th>
                    <th style="width:5%">Actions</th>
                </tr>
            </thead>

        </table>
        <!--end: Datatable-->
    </div>
</div>

<script>
    $(document).ready(function () {
        $.fn.dataTableExt.sErrMode = 'throw';
        $("#tblList").DataTable({
            stateSave: true,
            "scrollY": 350,
            "scrollX": true,
            "processing": false, // for show progress bar
            "searching": true,
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": true, // for disable multiple column at once
            "stateSaveParams": function (settings, data) {
                //data.search.search = "";
                //data.start = 0;
                //data.order[0][0] = 0;
                //data.order[0]._idx = 0;
            },
            "ajax": {
                "url": '@Url.Action("GetListJson","RotaTemplate")',
                "type": "POST",
                "datatype": "json"
              },
              language: {
                  "info": "Showing _START_ to _END_ of _TOTAL_ results",
                  "lengthMenu": "_MENU_",
                  "loadingRecords": "Loading...",
                  "processing": "Processing...",
                  "search": "",
                  "searchPlaceholder": "Search records...",
                  "sEmptyTable": "No Data Found.",
                  "zeroRecords": "No Data Found."
              },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
              }],
              "order": [[1, "asc"]],
              "initComplete": function (settings, json) {
                  HideLoader();
                  $('.red-tooltip').tooltip();
              },
              "preDrawCallback": function (settings, json) {
                  if (!isSearch) {
                      ShowLoader();
                  } else {
                      isSearch = false;
                  }
            },
            "lengthMenu": [5,10, 25, 50, 100,500],
              "drawCallback": function (settings) {
                  HideLoader();
                  AddPaginLength("tblList");
                  $('.red-tooltip').tooltip();
              },
              "columns": [
                  { "data": "RotaTemplateId", "name": "RotaTemplateId", "autoWidth": true },
                  {
                      "data": "RotaTemplateName", "name": "RotaTemplateName", "autoWidth": true, "render": function (data, type, full, meta) {
                          var posit = full.RotaTemplateName;
                          if (posit.length > 40) {
                              posit = posit.substring(0, 40) + "...";
                          }
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.RotaTemplateName + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;margin-top:5px">' + posit + '</div></a>';

                          return action;
                      }
                  },
                  {
                      "data": "SiteName", "name": "SiteName", "autoWidth": true, "render": function (data, type, full, meta) {
                          var posit = full.SiteName;
                          if (posit.length > 20) {
                              posit = posit.substring(0, 20) + "...";
                          }
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.SiteName + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;margin-top:5px">' + posit + '</div></a>';

                          return action;
                      }
                  },
                  {
                      "data": "DepartmentName", "name": "DepartmentName", "autoWidth": true, "render": function (data, type, full, meta) {
                          var posit = full.DepartmentName;
                          if (posit.length > 20) {
                              posit = posit.substring(0, 20) + "...";
                          }
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.DepartmentName + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;margin-top:5px">' + posit + '</div></a>';

                          return action;
                      }
                  },
                  { "data": "StartDayOfWeekName", "name": "StartDayOfWeek", "autoWidth": true },
                  { "data": "DurationInDays", "name": "DurationInDays", "autoWidth": true },
                  {
                      "data": "ShiftName", "name": "ShiftName", "autoWidth": true, "render": function (data, type, full, meta) {
                          var posit = full.ShiftName;
                          if (posit.length > 30) {
                              posit = posit.substring(0, 30) + "...";
                          }
                          var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.ShiftName + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;margin-top:5px">' + posit + '</div></a>';

                          return action;
                      }
                  },
                   {
                       "data": "GeneratedUpToDates", "name": "GeneratedUpToDate", "autoWidth": true, "render": function (data, type, full, meta) {
                           var date = full.GeneratedUpToDates;
                           var action = "";
                           if (date == "" || date == null || date == undefined) {
                               var action = '<span class="clsDate_' + full.RotaTemplateId + '"><a class="red-tooltip btn btn-success btnGenerateDate" href="javascript:void(0)" data-id="' + full.RotaTemplateId + '" data-week="' + full.StartDayOfWeek +'" >Generate Actual Rota</a></span>';
                           } else {
                               action = '<span class="clsDate_' + full.RotaTemplateId +'">' + full.GeneratedUpToDates+'</span>' ;
                           }


                          return action;
                      }
                  },
                  //{
                  //    "data": "UserName", "name": "UserName", "autoWidth": true, "render": function (data, type, full, meta) {
                  //        var posit = full.UserName;
                  //        if (posit.length > 30) {
                  //            posit = posit.substring(0, 30) + "...";
                  //        }
                  //        var action = '<a data-toggle="tooltip" data-html="true" data-placement="bottom" title="" data-original-title="' + full.UserName + '" class="red-tooltip" href="javascript:void(0)" ><div style="display:inline-block;margin-top:5px">' + posit + '</div></a>';

                  //        return action;
                  //    }
                  //},
                {
                    "orderable": false, "render": function (data, type, full, meta) {
                        var action = '';
                        action += '<div class="dropdown dropdown-inline"> <a href="javascript:void(0);" class="btn btn-sm btn-clean btn-icon" data-toggle="dropdown"> <i class="la la-cog"></i> </a>';
                        action += '<div class="dropdown-menu dropdown-menu-sm dropdown-menu-right"> <ul class="nav nav-hoverable flex-column">'
                        if (full.IsAllowEdit) {
                            if ('@CommonFunctions.Edit' == "True") {
                                action += '<li class="nav-item"><a class="nav-link EditRec" href="javascript:void(0);" data-id="' + full.RotaTemplateId + '"><i class="nav-icon la la-edit"></i><span class="nav-text">Edit</span></a></li>'
                            }
                            if ('@CommonFunctions.Delete' == "True") {
                                action += '<li class="nav-item"><a class="nav-link DeleteRec" href="javascript:void(0);" data-id="' + full.RotaTemplateId + '"><i class="nav-icon la la-trash"></i><span class="nav-text">Delete</span></a></li>'
                            }
                        }
                        action += '<li class="nav-item"><a class="nav-link ViewRec" href="javascript:void(0);" data-id="' + full.RotaTemplateId + '"><i class="nav-icon la la-eye"></i><span class="nav-text">View</span></a></li>'
                        action += '</ul></div></div>'
                        return action;
                    }
                }
            ]
        });
        AppendToolTipAfterSearch("tblList_filter");
    });
</script>