﻿@using System.Web.Optimization;
@using NHSC.Resources;
@using NHSC.Common;
@using NHSC.Models.Common;
@model NHSC.Models.Entities.RotaTemplateModel
@{
    ViewBag.Title = "RotaTemplate";
}

@Styles.Render("~/Content/wizard3")
<div class="card card-custom">
    <div class="card-body p-0">
        <div class="wizard wizard-3" id="kt_wizard_v3" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin: Wizard Body-->
            <div class="row justify-content-center py-10 px-8 py-lg-12 px-lg-10">
                <div class="col-xl-12 col-xxl-10">
                    <!--begin: Wizard Form-->
                    @using (Ajax.BeginForm("Index", "RotaTemplate", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "AjaxLoader" }, new { @novalidate = "novalidate", @id = "kt_form", @class = "form", @autocomplete = "off" }))
                    {
                    <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                        @Html.HiddenFor(x => x.RotaTemplateId)
                        <!--end::Input-->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Rota Template Name <span class="error_Validation">*</span></label>
                                    @Html.TextBoxFor(x => x.RotaTemplateName, new { @class = "form-control clstext reqfield", @placeholder = "Rota Template Name", @maxlength = "500", @readonly = "readonly", @disabled = "disabled" })
                                    <span class="form-text text-muted error_Validation RotaTemplateName"></span>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Site <span class="error_Validation">*</span></label>
                                    @Html.DropDownListFor(x => x.SiteId, ViewBag.SiteList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield clsSite", @readonly = "readonly", @disabled = "disabled" })
                                    <span class="form-text text-muted error_Validation SiteId"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Department <span class="error_Validation">*</span></label>
                                    @Html.DropDownListFor(x => x.DepartmentId, ViewBag.DepartmentList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield clsDepartment", @readonly = "readonly", @disabled = "disabled" })
                                    <span class="form-text text-muted error_Validation DepartmentId"></span>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Start Day Of Week<span class="error_Validation">*</span></label>
                                    @Html.DropDownListFor(x => x.StartDayOfWeek, ViewBag.StartDayOfWeekList as SelectList, "--Select--", new { @class = "form-control clsddl reqfield clsStartDayOfWeek", @readonly = "readonly", @disabled = "disabled" })
                                    <span class="form-text text-muted error_Validation StartDayOfWeek"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Duration In Days <span class="error_Validation">*</span></label>
                                    @Html.TextBoxFor(x => x.DurationInDays, new { @class = "form-control clstext reqfield reqrange", @placeholder = "Duration In Days", @data_from = "0", @data_to = "999", @maxlength = "3", @readonly = "readonly", @disabled = "disabled" })
                                    <span class="form-text text-muted error_Validation DurationInDays"></span>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Generated Up To Date</label>
                                    @Html.TextBoxFor(x => x.GeneratedUpToDates, new { @class = "form-control clstext", @placeholder = "Generated Up To Date", @readonly = "readonly", @disabled = "disabled" })
                                    <span class="form-text text-muted error_Validation GeneratedUpToDates"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Shift <span class="error_Validation">*</span></label>
                                    <select class="form-control select2 clsddl  clsShift" id="Shift" name="Shift" multiple="multiple" onchange="SelectValueChosen(this, 'ShiftIds', true)" style="width:100%" disabled="disabled">
                                        @foreach (var item in ViewBag.ShiftList)
                                        {
                                            if (Model.ShiftList != null && Model.ShiftList.ToList().Contains(item.Value))
                                            {
                                                <option selected value="@item.Value">@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                    <span class="form-text text-muted error_Validation ShiftIds"></span>
                                    @Html.HiddenFor(x => x.ShiftIds, new { @class = "form-control clstext reqfield" })
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>User <span class="error_Validation">*</span></label>
                                    <select class="form-control select2 clsddl  clsUser" id="User" name="User" multiple="multiple" onchange="SelectValueChosen(this, 'UserIds', true)" style="width:100%" disabled="disabled">
                                        @foreach (var item in ViewBag.UserList)
                                        {
                                            if (Model.UserList != null && Model.UserList.ToList().Contains(item.Value))
                                            {
                                                <option selected value="@item.Value">@item.Text</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    </select>
                                    <span class="form-text text-muted error_Validation UserIds"></span>
                                    @Html.HiddenFor(x => x.UserIds, new { @class = "form-control clstext reqfield" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label>Created Date</label>
                                    @Html.TextBoxFor(x => x.Date, new { @class = "form-control clstext", @placeholder = "Date", @readonly = "readonly", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>

                    </div>
                    }
                    <!--end: Wizard Form-->
                </div>
            </div>
            <!--end: Wizard Body-->
        </div>
    </div>
</div>

@Scripts.Render("~/script/wizard3")
<script>

    $(document).ready(function () {
        $(".clsSite").select2({
            selectOnClose: true
        });
        $(".clsStartDayOfWeek").select2({
            selectOnClose: true
        });
        $(".clsDepartment").select2({
            selectOnClose: true
        });

        @*$(".clsSite").val('@Model.SiteId');*@
        $(".clsUser").select2({
            placeholder: ('Select User'),
            selectOnClose: true
        });
        $(".clsShift").select2({
            placeholder: ('Select Shift'),
            selectOnClose: true
        });

    });
</script>
